flows_pi3three.json
[{"id":"4947b33d.b20e6c","type":"tab","label":"scratch","disabled":false,"info":""},{"id":"c80026d.bb0ccd8","type":"tab","label":"de mol","disabled":true,"info":""},{"id":"293b0356.254d6c","type":"tab","label":"mpd3","disabled":true,"info":""},{"id":"30c668a.ce70298","type":"tab","label":"mpd2","disabled":false,"info":""},{"id":"5db08893.014138","type":"tab","label":"mpd","disabled":true,"info":""},{"id":"a655f637.a301b8","type":"tab","label":"snowboy","disabled":false,"info":""},{"id":"e9418980.02a898","type":"tab","label":"snowboy events","disabled":false,"info":""},{"id":"37312499.e9d2ac","type":"tab","label":"tts dutch","disabled":false,"info":""},{"id":"87054f3b.c2f9f","type":"tab","label":"ui aiy","disabled":false,"info":""},{"id":"d18538f6.c8d958","type":"tab","label":"soundmeter","disabled":false,"info":""},{"id":"537dbba4.927704","type":"tab","label":"volume control","disabled":false,"info":""},{"id":"e3cf3242.7aad","type":"tab","label":"voicehat LED","disabled":false,"info":""},{"id":"61ade063.a538d","type":"tab","label":"voicehat button","disabled":false,"info":""},{"id":"d9ccf5e4.c1c8e8","type":"tab","label":"radio news","disabled":false,"info":""},{"id":"d06fa872.c28c18","type":"tab","label":"alarm","disabled":false,"info":""},{"id":"2cda7691.971baa","type":"tab","label":"CPU temp","disabled":false,"info":""},{"id":"b11ec8ac.da9968","type":"tab","label":"mic / speaker Flow 1","disabled":true,"info":""},{"id":"2de352c6.5318ae","type":"tab","label":"snowboy","disabled":true,"info":""},{"id":"368b08cc.ef5328","type":"tab","label":"snowboy test","disabled":true,"info":""},{"id":"2aebc689.775a9a","type":"tab","label":"tts Flow 3","disabled":true,"info":""},{"id":"84dcea7d.a77bc8","type":"tab","label":"Flow 4 tts","disabled":true,"info":""},{"id":"f85b148c.c4a778","type":"tab","label":"Flow 5 stt","disabled":true,"info":""},{"id":"5b86f131.058e3","type":"tab","label":"taktie","disabled":true,"info":""},{"id":"cc99810d.fdcb8","type":"tab","label":"aircon example","disabled":true,"info":""},{"id":"e91786ef.6ee968","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"43ce3980.981b18","type":"tab","label":"pulsating block","disabled":false,"info":""},{"id":"c1280055.15daf","type":"emoncms-server","z":"","server":"http://emoncms.org","name":"my emoncms.org"},{"id":"120b7b64.d83985","type":"ui_group","z":"","name":"OK google","tab":"10308deb.211832","order":3,"disp":true,"width":"6"},{"id":"8a2e049.7f02ef8","type":"ui_group","z":"","name":"stemija","tab":"10308deb.211832","order":2,"disp":true,"width":"6"},{"id":"15dc57.18ab93aa","type":"ui_group","z":"","name":"Snowboy","tab":"10308deb.211832","order":1,"disp":true,"width":"6"},{"id":"fd12f517.86e068","type":"ui_group","z":"","name":"Volume","tab":"10308deb.211832","order":4,"disp":true,"width":"6"},{"id":"10308deb.211832","type":"ui_tab","z":"","name":"AIY","icon":"dashboard","order":4},{"id":"b62bd431.8e0608","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"67db6900.55e0c8","type":"ui_group","z":"","name":"soundmeter","tab":"10308deb.211832","order":5,"disp":false,"width":"6","collapse":false},{"id":"400be136.658aa","type":"ui_tab","z":"","name":"taktie","icon":"dashboard","order":3},{"id":"9104c307.1e30d","type":"ui_group","z":"","name":"jonggidsen translator","tab":"400be136.658aa","order":1,"disp":true,"width":"13","collapse":false},{"id":"2d6957e2.8b3dc8","type":"mpd-server","z":"","host":"localhost","port":"6600"},{"id":"1d184886.a05177","type":"ui_group","z":"","name":"Control","tab":"964fa1c.88ec36","order":1,"disp":false,"width":"8"},{"id":"338ef57d.fc913a","type":"ui_group","z":"","name":"Zenderkeuze","tab":"964fa1c.88ec36","order":3,"disp":false,"width":"8","collapse":false},{"id":"c5337032.18753","type":"ui_group","z":"","name":"Radio","tab":"964fa1c.88ec36","order":2,"disp":false,"width":"8"},{"id":"964fa1c.88ec36","type":"ui_tab","z":"","name":"Web Radio","icon":"dashboard","order":2},{"id":"85e43473.bdc0b8","type":"ui_group","z":"","name":"Default","tab":"d31cb5fc.09a6b8","disp":true,"width":"6"},{"id":"d31cb5fc.09a6b8","type":"ui_tab","z":"","name":"testing","icon":"dashboard","order":5},{"id":"3c3e40bc.f4f7a","type":"ui_group","z":"","name":"Dynamic group","tab":"9137d6a.8d53128","order":1,"disp":true,"width":"6"},{"id":"9137d6a.8d53128","type":"ui_tab","z":"","name":"Dynamic test","icon":"dashboard","order":6},{"id":"3097cbe4.f0ae84","type":"ui_tab","name":"Tab 6","icon":"dashboard","order":7},{"id":"dfa618cf.68d218","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":8},{"id":"aad71200.93921","type":"ui_group","z":"","name":"Zenderkeuze jan","tab":"964fa1c.88ec36","order":4,"disp":true,"width":"8","collapse":false},{"id":"7e7bf2e0.8e8aec","type":"ui_tab","z":"","name":"de mollen","icon":"dashboard","order":1},{"id":"b6487da3.a72","type":"ui_group","z":"","name":"de mollen","tab":"7e7bf2e0.8e8aec","order":1,"disp":false,"width":"8","collapse":false},{"id":"373372ff.80ad0e","type":"ui_group","z":"","name":"stackoverflow","tab":"dfa618cf.68d218","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6142ff1.7a402","type":"websocket-listener","z":"","path":"/node_red_scratch","wholemsg":"false"},{"id":"aa29afa1.fb85e","type":"mqtt-broker","z":"","name":"local mqtt broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2779b89f.68b2d8","type":"Mic","z":"b11ec8ac.da9968","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"0","exitOnSilence":"false","debug":"true","active":true,"x":323,"y":76,"wires":[["4323d7d.e22fa28","a066f835.c5c418"]]},{"id":"4323d7d.e22fa28","type":"debug","z":"b11ec8ac.da9968","name":"","active":true,"console":"false","complete":"true","x":494,"y":29,"wires":[]},{"id":"d203a374.1efe2","type":"speakerpi-output","z":"b11ec8ac.da9968","choose":"givenfile","filename":"/home/pi/tmp/recorded_audio.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":350,"y":264,"wires":[]},{"id":"22b6fa56.684696","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":46,"wires":[["2779b89f.68b2d8"]]},{"id":"1c1df717.a106c9","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":111,"wires":[["2779b89f.68b2d8"]]},{"id":"a066f835.c5c418","type":"file","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/test.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":564,"y":75,"wires":[]},{"id":"5b5d944a.d84dcc","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":126,"y":265,"wires":[["d203a374.1efe2"]]},{"id":"c00c92.e670937","type":"play audio","z":"b11ec8ac.da9968","name":"","voice":"0","x":578,"y":180,"wires":[]},{"id":"b625c425.61a1b8","type":"file in","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/recorded_audio.wav","format":"","chunk":false,"sendError":false,"x":328,"y":181,"wires":[["c00c92.e670937"]]},{"id":"34e43630.f3031a","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":182,"wires":[["b625c425.61a1b8"]]},{"id":"49fc38c2.4369a8","type":"speakerpi-output","z":"b11ec8ac.da9968","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"22050","name":"","x":891,"y":387,"wires":[]},{"id":"dd5dd3d4.91735","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":389,"wires":[["4d8dcef8.757cf"]]},{"id":"4d8dcef8.757cf","type":"file in","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/recorded_audio.wav","format":"","chunk":false,"sendError":false,"x":380,"y":385,"wires":[["65ffb67c.c14678"]]},{"id":"65ffb67c.c14678","type":"change","z":"b11ec8ac.da9968","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":646,"y":386,"wires":[["70a7eb2.1453414","49fc38c2.4369a8"]]},{"id":"70a7eb2.1453414","type":"debug","z":"b11ec8ac.da9968","name":"","active":true,"console":"false","complete":"true","x":738,"y":314,"wires":[]},{"id":"e6c84eaf.ededd","type":"Mic","z":"b11ec8ac.da9968","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"0","exitOnSilence":"false","debug":"true","active":true,"x":316,"y":634,"wires":[["7468953e.7449fc","6bbfbc2e.be98b4","a9acebea.305e98"]]},{"id":"7468953e.7449fc","type":"debug","z":"b11ec8ac.da9968","name":"","active":false,"console":"false","complete":"true","x":485,"y":585,"wires":[]},{"id":"7cb29fb0.4e485","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":602,"wires":[["e6c84eaf.ededd"]]},{"id":"ae73bb34.74ab28","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":667,"wires":[["e6c84eaf.ededd"]]},{"id":"6bbfbc2e.be98b4","type":"file","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/recorded_audio2.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":437,"y":533,"wires":[]},{"id":"a9acebea.305e98","type":"change","z":"b11ec8ac.da9968","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":509,"y":673,"wires":[["844fedb1.ac9ea"]]},{"id":"844fedb1.ac9ea","type":"speakerpi-output","z":"b11ec8ac.da9968","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"11025","name":"","x":887,"y":677,"wires":[]},{"id":"e554bd79.1ce8b","type":"Mic","z":"368b08cc.ef5328","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"50","exitOnSilence":"true","debug":"false","active":true,"x":430,"y":460,"wires":[["94d7a050.0ab77","49b1cdcb.f034d4","4cc77297.5b070c"]]},{"id":"94d7a050.0ab77","type":"debug","z":"368b08cc.ef5328","name":"Mic output","active":false,"console":"false","complete":"true","x":590,"y":400,"wires":[]},{"id":"9e6b5c48.c74f9","type":"inject","z":"368b08cc.ef5328","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":520,"wires":[["264c4aeb.042706"]]},{"id":"d289f259.e91b","type":"file","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/recorded_audio.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":940,"y":320,"wires":[]},{"id":"55bcd0c8.663b5","type":"Snowboy","z":"368b08cc.ef5328","name":"","detectorFile":"/home/pi/snowboy/rpi/resources/common.res","models":[{"idxOutput":0,"nbOutputs":1,"hotwords":"snowboy","sensitivity":"0.9","file":"/home/pi/snowboy/rpi/resources/snowboy.umdl"}],"multipleOutput":"false","debug":"false","x":780,"y":460,"wires":[["268cf51f.60de0a","f982245b.857028"]]},{"id":"268cf51f.60de0a","type":"debug","z":"368b08cc.ef5328","name":"snowboy output","active":true,"console":"false","complete":"true","x":960,"y":400,"wires":[]},{"id":"4cc77297.5b070c","type":"switch","z":"368b08cc.ef5328","name":"event == end ","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"end","vt":"str"}],"checkall":"true","outputs":1,"x":590,"y":540,"wires":[["9e4c2907.4c20a8","951ca27f.717c7"]]},{"id":"f982245b.857028","type":"change","z":"368b08cc.ef5328","name":"status = recording","rules":[{"t":"set","p":"status","pt":"flow","to":"recording","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":440,"wires":[[]]},{"id":"bdedd4f.1c00b28","type":"debug","z":"368b08cc.ef5328","name":"STT output","active":true,"console":"false","complete":"transcription","x":1030,"y":720,"wires":[]},{"id":"9e4c2907.4c20a8","type":"debug","z":"368b08cc.ef5328","name":"","active":false,"console":"false","complete":"true","x":610,"y":500,"wires":[]},{"id":"82b9596d.35c6d8","type":"watson-speech-to-text","z":"368b08cc.ef5328","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"sElPPbBiqkOh","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":748,"y":721,"wires":[["bdedd4f.1c00b28","50106a6b.c0e0c4"]]},{"id":"a8708f52.6477e","type":"inject","z":"368b08cc.ef5328","name":"initialisation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["121e7645.353eaa","4392f24a.25c77c"]]},{"id":"431fefbf.25924","type":"file in","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/recorded_audio.wav","format":"","chunk":false,"sendError":false,"x":440,"y":720,"wires":[["82b9596d.35c6d8"]]},{"id":"e7692add.4cebb8","type":"inject","z":"368b08cc.ef5328","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":720,"wires":[["431fefbf.25924"]]},{"id":"a6694c90.8af8b","type":"speakerpi-output","z":"368b08cc.ef5328","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":974,"y":860,"wires":[]},{"id":"765d0790.a969e8","type":"change","z":"368b08cc.ef5328","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":728,"y":863,"wires":[["a6694c90.8af8b"]]},{"id":"121e7645.353eaa","type":"change","z":"368b08cc.ef5328","name":"status = waiting_for_wake_word","rules":[{"t":"set","p":"status","pt":"flow","to":"waiting_for_wake_word","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[[]]},{"id":"4a9c0148.5800c","type":"comment","z":"368b08cc.ef5328","name":"definition flow variables","info":"The following flow variables are defined:\n\n**mic_status**\n- *off* : microphone node is not started or stopped\n- *on* :  microphone node is started and producing output\n\n**status**\n- *stopped* : waiting until it becomes restarted\n- *waiting_for_wake_word* :\n- *recording* :\n- *recognizing* :\n","x":120,"y":20,"wires":[]},{"id":"b6756e4b.6e453","type":"change","z":"368b08cc.ef5328","name":"msg.payload = start ","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":380,"wires":[["e554bd79.1ce8b"]]},{"id":"49b1cdcb.f034d4","type":"switch","z":"368b08cc.ef5328","name":"switch status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"recording","vt":"str"},{"t":"eq","v":"waiting_for_wake_word","vt":"str"}],"checkall":"true","outputs":2,"x":590,"y":460,"wires":[["d289f259.e91b"],["55bcd0c8.663b5"]]},{"id":"a4f628ee.6f0f38","type":"change","z":"368b08cc.ef5328","name":"status=recognizing","rules":[{"t":"set","p":"status","pt":"flow","to":"recognizing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":560,"wires":[["431fefbf.25924"]]},{"id":"50106a6b.c0e0c4","type":"change","z":"368b08cc.ef5328","name":"status = waiting_for_wake_word","rules":[{"t":"set","p":"status","pt":"flow","to":"waiting_for_wake_word","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":800,"wires":[["8dac7397.f13ec"]]},{"id":"951ca27f.717c7","type":"switch","z":"368b08cc.ef5328","name":"switch on status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"waiting_for_wake_word","vt":"str"},{"t":"eq","v":"recording","vt":"str"}],"checkall":"true","outputs":2,"x":780,"y":540,"wires":[["5e884b93.b7c894"],["a4f628ee.6f0f38"]]},{"id":"5e884b93.b7c894","type":"link out","z":"368b08cc.ef5328","name":"","links":["c743f9fa.cda658"],"x":975,"y":500,"wires":[]},{"id":"c743f9fa.cda658","type":"link in","z":"368b08cc.ef5328","name":"start recording","links":["88f4f74d.b3a978","5e884b93.b7c894"],"x":95,"y":380,"wires":[["b6756e4b.6e453"]]},{"id":"8dac7397.f13ec","type":"link out","z":"368b08cc.ef5328","name":"","links":["16f52546.e9794b"],"x":1115,"y":800,"wires":[]},{"id":"30a27147.515fde","type":"file in","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/t.wav","format":"","chunk":false,"sendError":false,"x":390,"y":800,"wires":[["765d0790.a969e8"]]},{"id":"69aae4d9.e33c3c","type":"inject","z":"368b08cc.ef5328","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":800,"wires":[["30a27147.515fde"]]},{"id":"4392f24a.25c77c","type":"file in","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/header16k.wav","format":"","chunk":false,"sendError":false,"x":360,"y":140,"wires":[["be6250be.28038","79c0cb05.1d1c44"]]},{"id":"be6250be.28038","type":"change","z":"368b08cc.ef5328","name":"","rules":[{"t":"set","p":"wav_header","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["14731e76.579192"]]},{"id":"79c0cb05.1d1c44","type":"debug","z":"368b08cc.ef5328","name":"wav header","active":true,"console":"false","complete":"payload","x":590,"y":100,"wires":[]},{"id":"264c4aeb.042706","type":"change","z":"368b08cc.ef5328","name":"","rules":[{"t":"set","p":"status","pt":"flow","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":520,"wires":[["e554bd79.1ce8b"]]},{"id":"16f52546.e9794b","type":"link in","z":"368b08cc.ef5328","name":"set wav header and restart","links":["8dac7397.f13ec"],"x":95,"y":220,"wires":[["14731e76.579192"]]},{"id":"21442538.82921a","type":"file","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/recorded_audio.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":600,"y":220,"wires":[]},{"id":"14731e76.579192","type":"change","z":"368b08cc.ef5328","name":"payload = wav_header","rules":[{"t":"set","p":"payload","pt":"msg","to":"wav_header","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["21442538.82921a","b6756e4b.6e453"]]},{"id":"a06a5107.e14ab","type":"micro-to-watson-speech-to-text-stream","z":"2aebc689.775a9a","name":"","silence":"2","treshold":0.1,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","device":"default","model":"en-US_BroadbandModel","x":379,"y":133,"wires":[["3c0d7bc8.cf04e4"]]},{"id":"d7abe4f9.441988","type":"inject","z":"2aebc689.775a9a","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":131,"y":103,"wires":[["a06a5107.e14ab"]]},{"id":"dc762044.778df","type":"inject","z":"2aebc689.775a9a","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":135,"y":170,"wires":[["a06a5107.e14ab"]]},{"id":"3c0d7bc8.cf04e4","type":"debug","z":"2aebc689.775a9a","name":"","active":true,"console":"false","complete":"true","x":621,"y":131,"wires":[]},{"id":"5ba58274.5be73c","type":"comment","z":"2aebc689.775a9a","name":"this is the node-red-contrib-wstt-stream node","info":"","x":399,"y":65,"wires":[]},{"id":"83fd34d9.efd298","type":"inject","z":"84dcea7d.a77bc8","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":102,"y":117,"wires":[["1ee7f267.49778e"]]},{"id":"decbbcb6.256d2","type":"inject","z":"84dcea7d.a77bc8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":108,"y":181,"wires":[["1ee7f267.49778e"]]},{"id":"bdc123b5.a4717","type":"debug","z":"84dcea7d.a77bc8","name":"","active":true,"console":"false","complete":"true","x":521,"y":149,"wires":[]},{"id":"7d6ff3c6.e4649c","type":"comment","z":"84dcea7d.a77bc8","name":"this is the node-red-contrib-wstt-stream node ??","info":"","x":341,"y":81,"wires":[]},{"id":"1ee7f267.49778e","type":"micro-to-watson-speech-to-text-stream","z":"84dcea7d.a77bc8","name":"","silence":"2","treshold":0.1,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","device":"default","model":"en-UK_BroadbandModel","x":319,"y":149,"wires":[["bdc123b5.a4717"]]},{"id":"c47e6752.bd7748","type":"http in","z":"f85b148c.c4a778","name":"","url":"/std","method":"get","upload":false,"swaggerDoc":"","x":102,"y":222,"wires":[["85bb5f4c.abef"]]},{"id":"b5963e12.ae39e","type":"http response","z":"f85b148c.c4a778","name":"","statusCode":"","headers":{},"x":738.0001678466797,"y":220,"wires":[]},{"id":"afe78ba8.a92518","type":"http request","z":"f85b148c.c4a778","name":"get Custom STT Token","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/customizations/e161d8f0-0578-11e7-94ad-3b2269260fbc/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":305.4999542236328,"y":323.0403747558594,"wires":[["5bdef76e.e76468"]]},{"id":"a2ce13ec.6966e","type":"debug","z":"f85b148c.c4a778","name":"","active":false,"console":"true","complete":"true","x":736.5001068115234,"y":322.1323547363281,"wires":[]},{"id":"85bb5f4c.abef","type":"http request","z":"f85b148c.c4a778","name":"get Standard STT Token","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":311.99998474121094,"y":220.99998474121094,"wires":[["c5c27240.74903"]]},{"id":"c5c27240.74903","type":"template","z":"f85b148c.c4a778","name":"Standard Watson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var model = \"ja-JP_NarrowbandModel\";  // Change to your own model\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': true,\n                'max_alternatives': 0,\n                'keywords': ['imposible', 'unavailable'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar index = 0;\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+evt.data);\n    if ( evt.data.indexOf(\"results\") >= 1) {\n        if (object[\"results\"][0][\"final\"] == true) {\n            printout(\n                object[\"results\"][0][\"alternatives\"][0][\"timestamps\"][0][2],\n                object[\"results\"][0][\"alternatives\"][0][\"confidence\"],\n                object[\"results\"][0][\"alternatives\"][0][\"transcript\"],\n                object[\"result_index\"]\n            );\n        };\n    };\n};\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    ws.send(JSON.stringify(message2));\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(time,confidence,text,i){\n\tparent.frame2.document.write(\n\t    \"<div style=\\\"text-align:left\\\" >\"\n\t    +i\n\t    +\" (\"+time+\") [\"\n\t    +Math.round(confidence*1000)/10+\"%]\"\n\t    +text+\n\t    \"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>Standard Watson STT Websocket Sample Application</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n</html>\n","x":545.0000152587891,"y":220.99998474121094,"wires":[["b5963e12.ae39e","a2ce13ec.6966e"]]},{"id":"3306a45f.824ecc","type":"http in","z":"f85b148c.c4a778","name":"","url":"/custom","method":"get","swaggerDoc":"","x":110.99998474121094,"y":323.99998474121094,"wires":[["afe78ba8.a92518"]]},{"id":"c3b54ad2.14f708","type":"comment","z":"f85b148c.c4a778","name":"Trigger","info":"","x":104.48893737792969,"y":159.04042053222656,"wires":[]},{"id":"5d335d5e.04cf24","type":"comment","z":"f85b148c.c4a778","name":"Transcription","info":"","x":534.4962921142578,"y":156.0477752685547,"wires":[]},{"id":"f36eae47.bf601","type":"comment","z":"f85b148c.c4a778","name":"output","info":"","x":721.4852752685547,"y":157.0477752685547,"wires":[]},{"id":"3de08e6.c5c5f72","type":"comment","z":"f85b148c.c4a778","name":"Authentication","info":"","x":295.99998474121094,"y":155.99998474121094,"wires":[]},{"id":"5bdef76e.e76468","type":"template","z":"f85b148c.c4a778","name":"Standard Watson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var customid = \"e161d8f0-0578-11e7-94ad-3b2269260fbc\"; //Change to your own customid\n    var model = \"ja-JP_NarrowbandModel\"; //Cange to your own model\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&customization_id=' + customid + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'], //Change to your own keywords\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n     \n\tvar message2 = {'action': 'stop'};\n\tvar index = 0;\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+evt.data);\n    if ( evt.data.indexOf(\"results\") >= 1) {\n        if (object[\"results\"][0][\"final\"] == true) {\n            printout(\n                object[\"results\"][0][\"alternatives\"][0][\"timestamps\"][0][2],\n                object[\"results\"][0][\"alternatives\"][0][\"confidence\"],\n                object[\"results\"][0][\"alternatives\"][0][\"transcript\"],\n                object[\"result_index\"]\n            );\n        };\n    };\n};\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    ws.send(JSON.stringify(message2));\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(time,confidence,text,i){\n\tparent.frame2.document.write(\n\t    \"<div style=\\\"text-align:left\\\" >\"\n\t    +i\n\t    +\" (\"+time+\") [\"\n\t    +Math.round(confidence*1000)/10+\"%]\"\n\t    +text+\n\t    \"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>Custom Watson STT Websocket Sample Application</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n</html>\n","x":548,"y":322.99998474121094,"wires":[["b5963e12.ae39e","a2ce13ec.6966e"]]},{"id":"4ef5333c.857c7c","type":"comment","z":"f85b148c.c4a778","name":"Watson Speech to Text websocket API","info":"https://flows.nodered.org/flow/d43d0733b42ee0d42e7bba896d20d09b","x":221,"y":73,"wires":[]},{"id":"faefec67.ee5d7","type":"inject","z":"2cda7691.971baa","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":156,"y":115,"wires":[["fd7cc2a.c900d4"]]},{"id":"fd7cc2a.c900d4","type":"exec","z":"2cda7691.971baa","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"cpu temp","x":326,"y":155,"wires":[["c3abb25a.91eef","2c9d42b.fedb7be"],["d000b224.aa243"],["fb78b5d4.bd8078"]]},{"id":"c3abb25a.91eef","type":"debug","z":"2cda7691.971baa","name":"stdout","active":false,"console":"false","complete":"true","x":499,"y":92,"wires":[]},{"id":"d000b224.aa243","type":"debug","z":"2cda7691.971baa","name":"stderr","active":false,"console":"false","complete":"true","x":501,"y":147,"wires":[]},{"id":"fb78b5d4.bd8078","type":"debug","z":"2cda7691.971baa","name":"return code","active":false,"console":"false","complete":"true","x":513,"y":184,"wires":[]},{"id":"2c9d42b.fedb7be","type":"function","z":"2cda7691.971baa","name":"convert to °C","func":"msg.payload = { CpuTemp : parseInt(msg.payload)/1000 };\n//Following command can be used to get rid of the warning regarding time not set.\n//msg.time = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":122,"wires":[["b9b8f8db.f66f48"]]},{"id":"4ce7c37a.99491c","type":"debug","z":"2cda7691.971baa","name":"pi cpu_temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1012,"y":196,"wires":[]},{"id":"b9b8f8db.f66f48","type":"change","z":"2cda7691.971baa","name":"set msg.nodegroup=13","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":786,"y":197,"wires":[["4ce7c37a.99491c","740d77d0.373078"]]},{"id":"740d77d0.373078","type":"emoncms","z":"2cda7691.971baa","name":"my emoncms.org","emonServer":"c1280055.15daf","nodegroup":"","datatype":"fulljson","x":913,"y":266,"wires":[]},{"id":"f7b8f7d7.287ac8","type":"exec","z":"37312499.e9d2ac","command":"/home/pi/scripts/tts.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":200,"wires":[["fd9a11e.b7ff9f"],["aabfd73b.bd1c18"],["bfa2d07b.027c7","6c685760.bdc688"]]},{"id":"40087040.2f98","type":"inject","z":"37312499.e9d2ac","name":"","topic":"","payload":"dit is een test","payloadType":"str","repeat":"","crontab":"","once":false,"x":158,"y":280,"wires":[["f7b8f7d7.287ac8"]]},{"id":"fd9a11e.b7ff9f","type":"debug","z":"37312499.e9d2ac","name":"standard output","active":true,"console":"false","complete":"payload","x":660,"y":120,"wires":[]},{"id":"aabfd73b.bd1c18","type":"debug","z":"37312499.e9d2ac","name":"standard error","active":true,"console":"false","complete":"payload","x":660,"y":200,"wires":[]},{"id":"bfa2d07b.027c7","type":"debug","z":"37312499.e9d2ac","name":"return code","active":true,"console":"false","complete":"payload","x":650,"y":260,"wires":[]},{"id":"e5b6c582.b31178","type":"Snowboy","z":"2de352c6.5318ae","name":"","detectorFile":"/home/pi/snowboy/rpi/resources/common.res","models":[{"idxOutput":0,"nbOutputs":1,"hotwords":"snowboy","sensitivity":"0.2","file":"/home/pi/snowboy/rpi/resources/snowboy.umdl"}],"multipleOutput":"false","debug":"false","x":280,"y":80,"wires":[["f520819a.ee757"]]},{"id":"f520819a.ee757","type":"debug","z":"2de352c6.5318ae","name":"","active":true,"console":"false","complete":"payload","x":477.5,"y":78,"wires":[]},{"id":"8cd8879d.9dbd48","type":"Mic","z":"2de352c6.5318ae","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"50","exitOnSilence":"false","debug":"false","active":false,"x":107.5,"y":80,"wires":[["e5b6c582.b31178"]]},{"id":"d088ebab.59dea8","type":"mqtt in","z":"37312499.e9d2ac","name":"","topic":"pi3/tts","qos":"2","broker":"aa29afa1.fb85e","x":170,"y":200,"wires":[["638eb86e.3d6328","f7b8f7d7.287ac8"]]},{"id":"638eb86e.3d6328","type":"debug","z":"37312499.e9d2ac","name":"","active":true,"console":"false","complete":"payload","x":270,"y":140,"wires":[]},{"id":"575909e4.1bc848","type":"mqtt out","z":"37312499.e9d2ac","name":"","topic":"pi3/tts","qos":"0","retain":"false","broker":"aa29afa1.fb85e","x":310,"y":60,"wires":[]},{"id":"6cad7e35.c6982","type":"inject","z":"37312499.e9d2ac","name":"","topic":"","payload":"Dag allemaal","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["575909e4.1bc848"]]},{"id":"9061709c.f0ec2","type":"inject","z":"84dcea7d.a77bc8","name":"","topic":"","payload":"Hi, can you hear me ?","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":300,"wires":[["afaa6587.6cf5c8"]]},{"id":"afaa6587.6cf5c8","type":"watson-text-to-speech","z":"84dcea7d.a77bc8","name":"","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","password":"sElPPbBiqkOh","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":360,"y":300,"wires":[["7f601abe.822464"]]},{"id":"7f601abe.822464","type":"speakerpi-output","z":"84dcea7d.a77bc8","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":580,"y":300,"wires":[]},{"id":"18dc51a0.9e5afe","type":"play audio","z":"b11ec8ac.da9968","name":"","voice":"13","x":430,"y":800,"wires":[]},{"id":"8b9d1d16.8552e","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"Hallo is er iemand die mij hoort ?","payloadType":"str","repeat":"","crontab":"","once":false,"x":128,"y":801,"wires":[["18dc51a0.9e5afe"]]},{"id":"ef42914a.51636","type":"rpi-gpio out","z":"e3cf3242.7aad","name":"voicehat LED","pin":"22","set":"","level":"0","freq":"","out":"out","x":1189.5,"y":235,"wires":[]},{"id":"d592651b.48b4e8","type":"inject","z":"e3cf3242.7aad","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1011,"y":277,"wires":[["ef42914a.51636"]]},{"id":"40c8bf5.01c974","type":"inject","z":"e3cf3242.7aad","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":1010,"y":322,"wires":[["ef42914a.51636"]]},{"id":"ad686d7f.b4e72","type":"mqtt in","z":"e3cf3242.7aad","name":"","topic":"pi3/aiy/cloudspeech/event_type","qos":"0","broker":"aa29afa1.fb85e","x":135,"y":100,"wires":[["a202bca9.7afe1","1f674d26.65cb53"]]},{"id":"a202bca9.7afe1","type":"debug","z":"e3cf3242.7aad","name":"cloudspeech event type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":200,"y":55,"wires":[]},{"id":"83ed0d1a.2bff","type":"mqtt in","z":"e3cf3242.7aad","name":"","topic":"pi3/aiy/google_assistant/event_type","qos":"2","broker":"aa29afa1.fb85e","x":152,"y":246,"wires":[["dca26a03.9eb138","e7be98b3.026aa8"]]},{"id":"dca26a03.9eb138","type":"debug","z":"e3cf3242.7aad","name":"google assistant event type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":334,"y":203,"wires":[]},{"id":"1f674d26.65cb53","type":"switch","z":"e3cf3242.7aad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"listening","vt":"str"},{"t":"eq","v":"sleeping","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":372,"y":100,"wires":[["2473aa3a.df4966","6fc4cef9.405a1"],["6e64f0a7.ca5f8"]]},{"id":"2473aa3a.df4966","type":"change","z":"e3cf3242.7aad","name":"flow.cloudspeech = listening","rules":[{"t":"set","p":"cloudspeech","pt":"flow","to":"listening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":65,"wires":[["8d55dabc.1217d8"]]},{"id":"6e64f0a7.ca5f8","type":"change","z":"e3cf3242.7aad","name":"flow.cloudspeech = sleeping","rules":[{"t":"set","p":"cloudspeech","pt":"flow","to":"sleeping","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":596,"y":130,"wires":[["8d55dabc.1217d8"]]},{"id":"e7be98b3.026aa8","type":"switch","z":"e3cf3242.7aad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"conv._turn_started","vt":"str"},{"t":"eq","v":"end_of_utterance","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":388,"y":250,"wires":[["6865e0e2.ca0e"],["3c5e2cfe.80e2b4"]]},{"id":"6865e0e2.ca0e","type":"change","z":"e3cf3242.7aad","name":"flow.google_assistant = listening","rules":[{"t":"set","p":"google_assistant","pt":"flow","to":"listening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":221,"wires":[["8d55dabc.1217d8"]]},{"id":"3c5e2cfe.80e2b4","type":"change","z":"e3cf3242.7aad","name":"flow.google_assistant = end_of_listening","rules":[{"t":"set","p":"google_assistant","pt":"flow","to":"end_of_listening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":676,"y":271,"wires":[["8d55dabc.1217d8"]]},{"id":"8d55dabc.1217d8","type":"function","z":"e3cf3242.7aad","name":"setting the light when listening to text","func":"\nif ( (flow.get('cloudspeech')      == \"listening\") ||\n     (flow.get('google_assistant') == \"listening\")) {\n   msg.payload = 1;\n} else { \n   msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":971,"y":127,"wires":[["1a45ea7d.0dffe6","ef42914a.51636"]]},{"id":"1a45ea7d.0dffe6","type":"debug","z":"e3cf3242.7aad","name":"AIY LED status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1096,"y":52,"wires":[]},{"id":"6fc4cef9.405a1","type":"debug","z":"e3cf3242.7aad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":432,"y":28,"wires":[]},{"id":"aa346711.cb0818","type":"mqtt out","z":"37312499.e9d2ac","name":"","topic":"pi3/aiy/snowboy/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":748.5,"y":318,"wires":[]},{"id":"6c685760.bdc688","type":"change","z":"37312499.e9d2ac","name":"msg.payload = start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":318,"wires":[["aa346711.cb0818"]]},{"id":"9142c070.60516","type":"rpi-gpio in","z":"61ade063.a538d","name":"voicehat button","pin":"16","intype":"tri","debounce":"25","read":false,"x":103.5,"y":166,"wires":[["f9b2a25c.1876b","232222bc.00104e"]]},{"id":"f9b2a25c.1876b","type":"debug","z":"61ade063.a538d","name":"voicehat button","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":97,"wires":[]},{"id":"ba6793c1.54d9","type":"comment","z":"61ade063.a538d","name":"voicehat GPIO description","info":"https://aiyprojects.withgoogle.com/voice#makers-guide-4-hardware-extensions","x":140,"y":31,"wires":[]},{"id":"3c08036a.c48b3c","type":"mqtt out","z":"61ade063.a538d","name":"","topic":"pi3/aiy/button","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":707,"y":159,"wires":[]},{"id":"f7c9a8fc.5916c8","type":"mqtt in","z":"61ade063.a538d","name":"","topic":"pi3/aiy/button","qos":"0","broker":"aa29afa1.fb85e","x":92,"y":248,"wires":[["b9d3952e.b94108"]]},{"id":"b9d3952e.b94108","type":"debug","z":"61ade063.a538d","name":"mqtt pi3/aiy/button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":313,"y":250,"wires":[]},{"id":"841575f8.844bb8","type":"change","z":"61ade063.a538d","name":"msg.payload = pressed","rules":[{"t":"set","p":"payload","pt":"msg","to":"pressed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":476,"y":140,"wires":[["3c08036a.c48b3c","37d39218.1cc47e"]]},{"id":"232222bc.00104e","type":"switch","z":"61ade063.a538d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":283,"y":164,"wires":[["841575f8.844bb8"],["ca1f0984.d8b168"]],"outputLabels":["pressed",null]},{"id":"ca1f0984.d8b168","type":"change","z":"61ade063.a538d","name":"msg.payload = released","rules":[{"t":"set","p":"payload","pt":"msg","to":"released","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":181,"wires":[["3c08036a.c48b3c"]]},{"id":"656f7949.f95448","type":"speakerpi-output","z":"d06fa872.c28c18","choose":"givenfile","filename":"/home/pi/audio/Store_Door_Chime-Mike_Koenig-570742973.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"store door chime","x":1150.5,"y":51,"wires":[]},{"id":"3254a2d8.14b4fe","type":"inject","z":"d06fa872.c28c18","name":"ring","topic":"","payload":"ring","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":399,"wires":[["5aaa0ae7.780dd4"]]},{"id":"cf2ad01b.2c592","type":"delay","z":"d06fa872.c28c18","name":"","pauseType":"delay","timeout":"1900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":912,"y":99,"wires":[["cace7310.973fa"]]},{"id":"8c3ff121.10487","type":"inject","z":"d06fa872.c28c18","name":"stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":446,"wires":[["5aaa0ae7.780dd4"]]},{"id":"cace7310.973fa","type":"switch","z":"d06fa872.c28c18","name":"global.alarm = ringing","property":"alarm","propertyType":"global","rules":[{"t":"eq","v":"ringing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":916,"y":49,"wires":[["656f7949.f95448","cf2ad01b.2c592"]]},{"id":"cfa10492.9555f8","type":"comment","z":"d06fa872.c28c18","name":"\"alarm\" Flow Description","info":"\n## Prerequisites\n\nThis flow makes use of the mp3 file: http://soundbible.com/1599-Store-Door-Chime.html\n\nI have used mpg123 to convert it to a wav file.  The location of the wav file is:\n> /home/pi/audio/Store_Door_Chime-Mike_Koenig-570742973.wav\n\n## Global variable\nThe state is kept in the global variable: **alarm ** which can have 2 values: \n- **ringing**\n- **stopped**\n\n\n## MQTT Interface (TO BE IMPLEMENTED)\n\n### Commands\nCommands should be sent to **pi3/alarm/cmd**\nThe following commands are supported:\n- **ring** : will ring the alarm\n- **stop** : will stop the ringing of the alarm\n- **get_status** : will broadcast the event **ringing** or **stopped**  on **pi3/alarm/event**\n\n### Output\nWhenever the status changes from **ringing** to **stopped** an event is broadcasted\non **pi3/alarm/event**\nThe event has the following 2 possible values:\n- **ringing**: indicates that the alarm started ringing\n- **stopped**: indicates that the ringing has just stopped.\n\n\n## Issue\n1. Current Alarm also triggers snowboy hotword.\n\n## To Do / Ideas\n1. Implement also flickering of the voicehat button when alarm goes off\n2. Control the volume alarm\n3. Control the duration of the alarm\n4. Allow to chose different sound for alarm.\n","x":132,"y":31,"wires":[]},{"id":"92e2d63c.fe6308","type":"mqtt in","z":"d06fa872.c28c18","name":"","topic":"pi3/alarm/cmd","qos":"0","broker":"aa29afa1.fb85e","x":83,"y":226,"wires":[["7dc81704.4e9008","6b1fd925.78a658"]]},{"id":"7dc81704.4e9008","type":"switch","z":"d06fa872.c28c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ring","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"get_status","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":252,"y":225,"wires":[["b8568c48.e4379"],["19cbb5ca.d19dfa"],["7dbe6cbb.29f5d4"]]},{"id":"d4da5608.419728","type":"change","z":"d06fa872.c28c18","name":"set global.alarm = ringing","rules":[{"t":"set","p":"alarm","pt":"global","to":"ringing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":167,"wires":[["cace7310.973fa","7dbe6cbb.29f5d4"]]},{"id":"7031a8a5.267668","type":"change","z":"d06fa872.c28c18","name":"set global.alarm = stopped","rules":[{"t":"set","p":"alarm","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":709,"y":211,"wires":[["7dbe6cbb.29f5d4"]]},{"id":"b8568c48.e4379","type":"switch","z":"d06fa872.c28c18","name":"global.alarm != ringing","property":"alarm","propertyType":"global","rules":[{"t":"neq","v":"ringing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":436,"y":175,"wires":[["d4da5608.419728"]]},{"id":"19cbb5ca.d19dfa","type":"switch","z":"d06fa872.c28c18","name":"global.alarm != stopped","property":"alarm","propertyType":"global","rules":[{"t":"neq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":447,"y":213,"wires":[["7031a8a5.267668"]]},{"id":"79a01db9.37b654","type":"mqtt out","z":"d06fa872.c28c18","name":"","topic":"pi3/alarm/event","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":1220,"y":240,"wires":[]},{"id":"7dbe6cbb.29f5d4","type":"change","z":"d06fa872.c28c18","name":"msg.payload = global.alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"alarm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":977,"y":237,"wires":[["79a01db9.37b654"]]},{"id":"918451c4.675d4","type":"inject","z":"d06fa872.c28c18","name":"get_status","topic":"","payload":"get_status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":492,"wires":[["5aaa0ae7.780dd4"]]},{"id":"6b1fd925.78a658","type":"debug","z":"d06fa872.c28c18","name":"mqtt pi3/alarm/cmd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":168,"y":148,"wires":[]},{"id":"b342cf4a.b4c0e","type":"mqtt in","z":"d06fa872.c28c18","name":"","topic":"pi3/alarm/event","qos":"0","broker":"aa29afa1.fb85e","x":137,"y":549,"wires":[["6126b19f.c0ef3"]]},{"id":"921899e6.3a3418","type":"comment","z":"d06fa872.c28c18","name":"test nodes","info":"","x":103,"y":352,"wires":[]},{"id":"6126b19f.c0ef3","type":"debug","z":"d06fa872.c28c18","name":"mqtt pi3/alarm/event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":359,"y":550,"wires":[]},{"id":"5aaa0ae7.780dd4","type":"mqtt out","z":"d06fa872.c28c18","name":"","topic":"pi3/alarm/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":325,"y":447,"wires":[]},{"id":"c86a31f7.31c38","type":"link out","z":"61ade063.a538d","name":"voicehat button pressed","links":["a5fa2429.017be8"],"x":921,"y":89,"wires":[]},{"id":"87927b1f.9d1af8","type":"link in","z":"d06fa872.c28c18","name":"stop alarm","links":["f9f70cd.ad204f"],"x":303,"y":280,"wires":[["19cbb5ca.d19dfa"]]},{"id":"718493b4.8e71ac","type":"exec","z":"d9ccf5e4.c1c8e8","command":"mplayer  --cache=50000 --cache-min=99  http://progressive-audio.lwc.vrtcdn.be/content/fixed/11_11niws-snip_hi.mp3","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"vrt news","x":745,"y":257,"wires":[["4ffff3d1.342bec"],["c1cd2df6.30193"],["e7949ecd.ead2","869048d.ba116b8"]]},{"id":"d1b9d456.fee6e8","type":"comment","z":"d9ccf5e4.c1c8e8","name":"comments","info":"# Global variables\nThis flow keeps the global variable `radio_news` up to date.\nThis variable can have 2 values:\n1. `\"playing\"`\n2. `\"not_playing\"`\n\n# Prerequisites\nThe command `mplayer` must be installed.\n\nThe following command is used to play the radio:\n```mplayer -volume 20 http://progressive-audio.lwc.vrtcdn.be/content/fixed/11_11niws-snip_hi.mp3```\n\n# References\nhttps://www.vrt.be/nl/aanbod/kijk-en-luister/radio-luisteren/streamingslinks-radio/\n\n\n","x":106,"y":20,"wires":[]},{"id":"4ffff3d1.342bec","type":"debug","z":"d9ccf5e4.c1c8e8","name":"stdout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":185,"wires":[]},{"id":"c1cd2df6.30193","type":"debug","z":"d9ccf5e4.c1c8e8","name":"stderr","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":892,"y":223,"wires":[]},{"id":"869048d.ba116b8","type":"debug","z":"d9ccf5e4.c1c8e8","name":"return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":914,"y":261,"wires":[]},{"id":"b9364dd6.afcc6","type":"change","z":"d9ccf5e4.c1c8e8","name":"msg.kill = SIGINT","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":523,"y":294,"wires":[["718493b4.8e71ac"]]},{"id":"521b5fe8.e1edb","type":"exec","z":"537dbba4.927704","command":"amixer sset 'Master'","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":385.5,"y":279,"wires":[["c48db248.9d02a","d170fa9e.e862e8"],["4871d34a.02e02c"],["49d00a5c.2ee114"]]},{"id":"aca7f23c.62f","type":"comment","z":"537dbba4.927704","name":"Documentation and commands","info":"## Dependencies\nCommand `amixer`should be installed.\n## Commands for the command line\n1. Checks the current volume control:\n```\namixer\nalsamixer\n```\n\n2. Sets the volume to 50%\n```\namixer sset 'Master' 50%\n```\n3. Gets the current volume level:\n```\namixer sget 'Master'\n```\n\n## MQTT interface\n### Commands\n- **pi3/volume/get** : input parameter is ignored.  Publishes the current volume to pi3/volume/percentage\n- **pi3/volume/set** : input parameter is a percentage between 0%  and 100%.  It will set the current volume and also publishes the set volume on pi3/volume/percentage\n### output\n- **pi3/volume/percentage** : specifies the current volume percentage without % (e.g. 70 to indicate that the volume is currently set to 70%)\n\n## TODOs\n- store curren volume in flow variable.","x":165,"y":34,"wires":[]},{"id":"95b9b50e.9a7c98","type":"inject","z":"537dbba4.927704","name":"20%","topic":"","payload":"20%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":491,"wires":[["bd3bd2b2.7b561"]]},{"id":"6cc6bef1.7c2bf","type":"inject","z":"537dbba4.927704","name":"60%","topic":"","payload":"60%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":538,"wires":[["bd3bd2b2.7b561"]]},{"id":"f4f7d521.62acd8","type":"inject","z":"537dbba4.927704","name":"100%","topic":"","payload":"100%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":584,"wires":[["bd3bd2b2.7b561"]]},{"id":"bd455330.c123","type":"mqtt in","z":"537dbba4.927704","name":"","topic":"pi3/volume/percentage","qos":"0","broker":"aa29afa1.fb85e","x":177,"y":649,"wires":[["90cbf4b0.04c218"]]},{"id":"9afbe35a.27435","type":"comment","z":"537dbba4.927704","name":"test nodes","info":"","x":132,"y":366,"wires":[]},{"id":"90cbf4b0.04c218","type":"debug","z":"537dbba4.927704","name":"mqtt pi3/volume/event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":436,"y":650,"wires":[]},{"id":"bd3bd2b2.7b561","type":"mqtt out","z":"537dbba4.927704","name":"","topic":"pi3/volume/set","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":357,"y":539,"wires":[]},{"id":"ba7b5fc6.18179","type":"debug","z":"537dbba4.927704","name":"mqtt pi3/volume/percentage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":313,"y":230,"wires":[]},{"id":"e659e00f.7a17","type":"mqtt in","z":"537dbba4.927704","name":"","topic":"pi3/volume/set","qos":"0","broker":"aa29afa1.fb85e","x":115,"y":279,"wires":[["ba7b5fc6.18179","521b5fe8.e1edb"]]},{"id":"c48db248.9d02a","type":"debug","z":"537dbba4.927704","name":"amixer sset stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":665,"y":221,"wires":[]},{"id":"4871d34a.02e02c","type":"debug","z":"537dbba4.927704","name":"amixer sset stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":664,"y":259,"wires":[]},{"id":"49d00a5c.2ee114","type":"debug","z":"537dbba4.927704","name":"amixer sset return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":686,"y":296,"wires":[]},{"id":"4c028bb5.a7d854","type":"exec","z":"537dbba4.927704","command":"amixer sget 'Master'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":389,"y":112,"wires":[["70e74be2.4c7994","d170fa9e.e862e8"],["a5559dd0.71275"],["de5701ae.9035"]]},{"id":"57b86532.cd9dfc","type":"inject","z":"537dbba4.927704","name":"get volume","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"20","x":150,"y":423,"wires":[["b4cb3825.0c8b88"]]},{"id":"b4cb3825.0c8b88","type":"mqtt out","z":"537dbba4.927704","name":"","topic":"pi3/volume/get","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":341,"y":425,"wires":[]},{"id":"67bd83c9.de8cdc","type":"mqtt in","z":"537dbba4.927704","name":"","topic":"pi3/volume/get","qos":"0","broker":"aa29afa1.fb85e","x":121,"y":112,"wires":[["4c028bb5.a7d854"]]},{"id":"70e74be2.4c7994","type":"debug","z":"537dbba4.927704","name":"amixer sget stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":667,"y":68,"wires":[]},{"id":"a5559dd0.71275","type":"debug","z":"537dbba4.927704","name":"amixer sget stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":668,"y":107,"wires":[]},{"id":"de5701ae.9035","type":"debug","z":"537dbba4.927704","name":"amixer sget return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":688,"y":141,"wires":[]},{"id":"d170fa9e.e862e8","type":"change","z":"537dbba4.927704","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split($split(payload,\"[\")[1],\"%]\")[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":657,"y":184,"wires":[["909caf56.745a9"]]},{"id":"909caf56.745a9","type":"mqtt out","z":"537dbba4.927704","name":"","topic":"pi3/volume/percentage","qos":"","retain":"","broker":"aa29afa1.fb85e","x":949,"y":184,"wires":[]},{"id":"992695cf.68f188","type":"comment","z":"d9ccf5e4.c1c8e8","name":"test nodes","info":"","x":111,"y":345,"wires":[]},{"id":"9e01c634.74bff8","type":"inject","z":"d9ccf5e4.c1c8e8","name":"start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":402,"wires":[["48bf44cc.e961dc"]]},{"id":"48bf44cc.e961dc","type":"mqtt out","z":"d9ccf5e4.c1c8e8","name":"","topic":"pi3/radio_news","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":302,"y":429,"wires":[]},{"id":"4cfca712.34b148","type":"mqtt in","z":"d9ccf5e4.c1c8e8","name":"","topic":"pi3/radio_news","qos":"0","broker":"aa29afa1.fb85e","x":107,"y":169,"wires":[["ef794cfd.a728e","5a532e33.f5a1a"]]},{"id":"ef794cfd.a728e","type":"switch","z":"d9ccf5e4.c1c8e8","name":"start or stop ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":174,"y":237,"wires":[["d21f4460.e62968"],["648c6b61.cf5c34"]]},{"id":"c1ceecb2.b49bb","type":"inject","z":"d9ccf5e4.c1c8e8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":452,"wires":[["48bf44cc.e961dc"]]},{"id":"5a532e33.f5a1a","type":"debug","z":"d9ccf5e4.c1c8e8","name":"pi3/radio_news","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":291,"y":122,"wires":[]},{"id":"a5fa2429.017be8","type":"link in","z":"d9ccf5e4.c1c8e8","name":"radio news stop","links":["c86a31f7.31c38"],"x":198,"y":292,"wires":[["648c6b61.cf5c34"]]},{"id":"d1f8e562.9c9858","type":"comment","z":"d18538f6.c8d958","name":"Flow documentation","info":"## Prerequisites\n### soundmeter\n`soundmeter` (https://github.com/shichao-an/soundmeter) must be installed.\nThis can be done by the following command as specified in https://pypi.org/project/soundmeter/:\n```\nsudo pip install soundmeter --allow-all-external --allow-unverified pyaudio\n```\n\nIn order to fix the `OSError: [Errno Input overflowed]` (https://github.com/shichao-an/soundmeter/issues/20)\nyou have to create following configuration file `~/.soundmeter/config`\nwith the following content (it is important that the rate is set to 16000 and not 44000)\n```\n[soundmeter]\nframes_per_buffer = 2048\nformat = 8\nchannels = 2\nrate = 16000\naudio_segment_length = 0.5\nrms_as_trigger_arg = False\n```\n\n","x":138,"y":37,"wires":[]},{"id":"b93d2175.5ed37","type":"debug","z":"d18538f6.c8d958","name":"soundmeter stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":80,"wires":[]},{"id":"cff8071d.15b6c8","type":"debug","z":"d18538f6.c8d958","name":"soundmeter stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":160,"wires":[]},{"id":"1b559f23.8fb1e1","type":"inject","z":"d18538f6.c8d958","name":"start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["6f4baab2.8b4b84"]]},{"id":"ceed0d1c.f8013","type":"debug","z":"d18538f6.c8d958","name":"soundmeter return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":200,"wires":[]},{"id":"f42764dd.500078","type":"change","z":"d18538f6.c8d958","name":"msg.kill = SIGINT","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":181,"y":260,"wires":[["29a89432.7e96ac"]]},{"id":"4d923b8b.7677b4","type":"inject","z":"d18538f6.c8d958","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":205,"wires":[["f42764dd.500078"]]},{"id":"389219b3.6d0976","type":"switch","z":"d18538f6.c8d958","name":"first 4 character are spaces","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$substring(payload,1,4)=\"    \"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":120,"wires":[["c57f4054.c8df4","dbd3fb50.d73988"]]},{"id":"c57f4054.c8df4","type":"change","z":"d18538f6.c8d958","name":"convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["92e3e771.e767e8","d90263a8.02f69","39677eb1.237002"]]},{"id":"92e3e771.e767e8","type":"debug","z":"d18538f6.c8d958","name":"db meter volume","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":40,"wires":[]},{"id":"d90263a8.02f69","type":"mqtt out","z":"d18538f6.c8d958","name":"","topic":"pi3/soundmeter","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":1080,"y":80,"wires":[]},{"id":"dbd3fb50.d73988","type":"debug","z":"d18538f6.c8d958","name":"first 4 chars...","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":60,"wires":[]},{"id":"ea06b9c9.0e48f8","type":"ui_switch","z":"87054f3b.c2f9f","name":"","label":"activate","group":"120b7b64.d83985","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"switch_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"switch_off","offvalueType":"str","officon":"","offcolor":"","x":860,"y":1220,"wires":[["e62aba1d.2710a8"]]},{"id":"91498a85.251898","type":"ui_text","z":"87054f3b.c2f9f","group":"8a2e049.7f02ef8","order":4,"width":0,"height":0,"name":"","label":"last message","format":"{{msg.payload}}","layout":"col-center","x":790,"y":820,"wires":[]},{"id":"cf1f2a4c.127fd8","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/cloudspeech/text","qos":"0","broker":"aa29afa1.fb85e","x":160,"y":820,"wires":[["91498a85.251898"]]},{"id":"4c3e6699.d086b8","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/cloudspeech/text","qos":"0","retain":"false","broker":"aa29afa1.fb85e","x":550,"y":900,"wires":[]},{"id":"3aa58381.e4ad7c","type":"inject","z":"87054f3b.c2f9f","name":"","topic":"","payload":"This is a test message","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":900,"wires":[["4c3e6699.d086b8"]]},{"id":"11b226.ac041dda","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"false","broker":"aa29afa1.fb85e","x":990,"y":660,"wires":[]},{"id":"82e8fa8e.0b1258","type":"inject","z":"87054f3b.c2f9f","name":"get_status every 2 minutes","topic":"","payload":"get_status","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":"","x":220,"y":1080,"wires":[["6efa747e.9dc57c","1482c8cb.d390a7"]]},{"id":"b70a8ba5.cb3258","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":430,"y":540,"wires":[]},{"id":"10023846.ef9358","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/cloudspeech/status","qos":"2","broker":"aa29afa1.fb85e","x":170,"y":700,"wires":[["9fc0707a.b9df4","fe76ab3b.e56408"]]},{"id":"9fc0707a.b9df4","type":"debug","z":"87054f3b.c2f9f","name":"","active":true,"console":"false","complete":"true","x":310,"y":660,"wires":[]},{"id":"6a42c1d0.effa9","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/google_assistant/status","qos":"0","broker":"aa29afa1.fb85e","x":210,"y":1340,"wires":[["97079fa6.fe4b4","b98f7ef3.e954c","13f27055.cefde"]]},{"id":"97079fa6.fe4b4","type":"debug","z":"87054f3b.c2f9f","name":"","active":true,"console":"false","complete":"true","x":230,"y":1260,"wires":[]},{"id":"6efa747e.9dc57c","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/google_assistant/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":520,"y":1080,"wires":[]},{"id":"e62aba1d.2710a8","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/google_assistant/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":1120,"y":1220,"wires":[]},{"id":"e4dbd71b.2fff08","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/google_assistant/event_type","qos":"0","broker":"aa29afa1.fb85e","x":220,"y":1400,"wires":[["d7aa10b8.f09ed","33faa2b3.c4183e"]]},{"id":"3b256278.a49bee","type":"ui_text","z":"87054f3b.c2f9f","group":"120b7b64.d83985","order":3,"width":0,"height":0,"name":"","label":"event type","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":1400,"wires":[]},{"id":"4b79a90d.5de718","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/cloudspeech/event_type","qos":"0","broker":"aa29afa1.fb85e","x":170,"y":760,"wires":[["807c1adc.dceeb8","6425da13.4bf204"]]},{"id":"807c1adc.dceeb8","type":"ui_text","z":"87054f3b.c2f9f","group":"8a2e049.7f02ef8","order":3,"width":0,"height":0,"name":"","label":"event type","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":760,"wires":[]},{"id":"60b83f9d.c9621","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/google_assistant/text","qos":"0","broker":"aa29afa1.fb85e","x":200,"y":1480,"wires":[["d43df68e.2687f8"]]},{"id":"d43df68e.2687f8","type":"ui_text","z":"87054f3b.c2f9f","group":"120b7b64.d83985","order":4,"width":0,"height":0,"name":"","label":"last message","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":1480,"wires":[]},{"id":"2f6259b.0c942a6","type":"ui_text","z":"87054f3b.c2f9f","group":"120b7b64.d83985","order":2,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":1340,"wires":[]},{"id":"a776a334.a9cb9","type":"ui_text","z":"87054f3b.c2f9f","group":"8a2e049.7f02ef8","order":1,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":700,"wires":[]},{"id":"165edeaa.9057e1","type":"comment","z":"87054f3b.c2f9f","name":"stemija UI group","info":"","x":260,"y":500,"wires":[]},{"id":"86066d99.6ae49","type":"comment","z":"87054f3b.c2f9f","name":"OK google UI group","info":"","x":290,"y":1020,"wires":[]},{"id":"1482c8cb.d390a7","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = awaiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"awaiting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1160,"wires":[["9921f79b.dd25f8"]]},{"id":"926aec04.8b914","type":"inject","z":"87054f3b.c2f9f","name":"get_status every 2 minutes","topic":"","payload":"get_status","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":"","x":160,"y":540,"wires":[["b70a8ba5.cb3258","3e9d0184.f6d82e"]]},{"id":"3e9d0184.f6d82e","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = awaiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"awaiting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":600,"wires":[["39c02e27.f9bf02"]]},{"id":"d7aa10b8.f09ed","type":"change","z":"87054f3b.c2f9f","name":"remove EventType.","rules":[{"t":"change","p":"payload","pt":"msg","from":"EventType.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1400,"wires":[["3b256278.a49bee"]]},{"id":"4f22a3b6.dc5b3c","type":"comment","z":"87054f3b.c2f9f","name":"Snowboy UI Group","info":"","x":330,"y":40,"wires":[]},{"id":"2f5f4b8e.5ea374","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/snowboy/status","qos":"2","broker":"aa29afa1.fb85e","x":200,"y":360,"wires":[["7d4422c6.c0955c","29b8a021.1cfc","cf077955.868088"]]},{"id":"7d4422c6.c0955c","type":"debug","z":"87054f3b.c2f9f","name":"","active":true,"console":"false","complete":"true","x":210,"y":220,"wires":[]},{"id":"41621632.c2dff8","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/snowboy/event_type","qos":"0","broker":"aa29afa1.fb85e","x":200,"y":420,"wires":[["68753dad.cd4474"]]},{"id":"97830a66.6cdf68","type":"ui_text","z":"87054f3b.c2f9f","group":"15dc57.18ab93aa","order":2,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":360,"wires":[]},{"id":"ac320697.35fa18","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = awaiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"awaiting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":160,"wires":[["7f16eb93.80c214"]]},{"id":"c53ac19c.45045","type":"inject","z":"87054f3b.c2f9f","name":"get_status every 2 minutes","topic":"","payload":"get_status","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":"","x":160,"y":140,"wires":[["ac320697.35fa18","b1b18aaa.d582a8"]]},{"id":"43316cba.901924","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/snowboy/cmd","qos":"0","retain":"false","broker":"aa29afa1.fb85e","x":900,"y":220,"wires":[]},{"id":"b1b18aaa.d582a8","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/aiy/snowboy/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":440,"y":100,"wires":[]},{"id":"cb77f0d5.6135","type":"ui_switch","z":"87054f3b.c2f9f","name":"","label":"activate","group":"15dc57.18ab93aa","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"start","onvalueType":"str","onicon":"","oncolor":"","offvalue":"stop","offvalueType":"str","officon":"","offcolor":"","x":720,"y":220,"wires":[["43316cba.901924"]]},{"id":"29b8a021.1cfc","type":"switch","z":"87054f3b.c2f9f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"started","vt":"str"},{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["e922e70d.39a3d8"],["36a796e9.dde9aa"]]},{"id":"e922e70d.39a3d8","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["cb77f0d5.6135"]]},{"id":"36a796e9.dde9aa","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[["cb77f0d5.6135"]]},{"id":"68753dad.cd4474","type":"ui_toast","z":"87054f3b.c2f9f","position":"top left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Snowboy","name":"","x":970,"y":420,"wires":[]},{"id":"7f16eb93.80c214","type":"switch","z":"87054f3b.c2f9f","name":"switch on flow.snowboy_status","property":"snowboy_status","propertyType":"flow","rules":[{"t":"eq","v":"awaiting","vt":"str"},{"t":"eq","v":"not responding","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":160,"wires":[["b4090bb7.95e118"],["b4090bb7.95e118"],["c22da8a4.4e3558"]]},{"id":"c22da8a4.4e3558","type":"link out","z":"87054f3b.c2f9f","name":"snowboy status polling","links":["9038c26e.c93b5"],"x":1155,"y":160,"wires":[]},{"id":"9038c26e.c93b5","type":"link in","z":"87054f3b.c2f9f","name":"update snowboy status","links":["c22da8a4.4e3558"],"x":395,"y":300,"wires":[["cf077955.868088"]]},{"id":"b4090bb7.95e118","type":"change","z":"87054f3b.c2f9f","name":"msg.payload=not responding","rules":[{"t":"set","p":"payload","pt":"msg","to":"not responding","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":140,"wires":[["c22da8a4.4e3558"]]},{"id":"cf077955.868088","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"snowboy_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["97830a66.6cdf68","44a6df68.cff68"]]},{"id":"44a6df68.cff68","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload = \"not responding\" ? 0 : 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["cb77f0d5.6135"]]},{"id":"b08b5b6e.e980c8","type":"ui_button","z":"87054f3b.c2f9f","name":"speak ...","group":"8a2e049.7f02ef8","order":2,"width":0,"height":0,"passthru":false,"label":"speak ...","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":780,"y":660,"wires":[["11b226.ac041dda"]]},{"id":"39c02e27.f9bf02","type":"switch","z":"87054f3b.c2f9f","name":"switch on flow.cloudspeech_status","property":"cloudspeech_status","propertyType":"flow","rules":[{"t":"eq","v":"awaiting","vt":"str"},{"t":"eq","v":"not responding","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":580,"wires":[["796ac7e9.4ad138"],["796ac7e9.4ad138"],["5dc468d.2bbf498"]]},{"id":"796ac7e9.4ad138","type":"change","z":"87054f3b.c2f9f","name":"msg.payload=not responding","rules":[{"t":"set","p":"payload","pt":"msg","to":"not responding","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":560,"wires":[["5dc468d.2bbf498"]]},{"id":"5dc468d.2bbf498","type":"link out","z":"87054f3b.c2f9f","name":"cloudspeech status polling","links":["6012d45a.857bdc"],"x":1155,"y":580,"wires":[]},{"id":"6012d45a.857bdc","type":"link in","z":"87054f3b.c2f9f","name":"update cloudspeech status","links":["5dc468d.2bbf498"],"x":426,"y":640,"wires":[["fe76ab3b.e56408"]]},{"id":"fe76ab3b.e56408","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"cloudspeech_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["a776a334.a9cb9","7961fa44.9103e4"]]},{"id":"7961fa44.9103e4","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload = \"not responding\" ? 0 : 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[["b08b5b6e.e980c8"]]},{"id":"6425da13.4bf204","type":"switch","z":"87054f3b.c2f9f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"listening","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":780,"wires":[["ee5061fb.15b24"]]},{"id":"ee5061fb.15b24","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":780,"wires":[["91498a85.251898"]]},{"id":"9921f79b.dd25f8","type":"switch","z":"87054f3b.c2f9f","name":"switch on flow.assistant_status","property":"assistant_status","propertyType":"flow","rules":[{"t":"eq","v":"awaiting","vt":"str"},{"t":"eq","v":"not responding","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":1160,"wires":[["e4437267.01efc"],["e4437267.01efc"],["3d2505ff.ef65da"]]},{"id":"e4437267.01efc","type":"change","z":"87054f3b.c2f9f","name":"msg.payload=not responding","rules":[{"t":"set","p":"payload","pt":"msg","to":"not responding","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1080,"wires":[["3d2505ff.ef65da"]]},{"id":"3d2505ff.ef65da","type":"link out","z":"87054f3b.c2f9f","name":"google assistant status polling","links":["923b9227.10a34"],"x":1215,"y":1120,"wires":[]},{"id":"923b9227.10a34","type":"link in","z":"87054f3b.c2f9f","name":"updated google assistant status","links":["3d2505ff.ef65da"],"x":395,"y":1280,"wires":[["13f27055.cefde"]]},{"id":"b98f7ef3.e954c","type":"switch","z":"87054f3b.c2f9f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"enabled","vt":"str"},{"t":"eq","v":"disabled","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1220,"wires":[["d835cda1.8d9da"],["52dfada1.2208e4"]]},{"id":"d835cda1.8d9da","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = switch_on","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch_on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1200,"wires":[["ea06b9c9.0e48f8"]]},{"id":"52dfada1.2208e4","type":"change","z":"87054f3b.c2f9f","name":"msg.payload = switch_off","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch_off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1240,"wires":[["ea06b9c9.0e48f8"]]},{"id":"13f27055.cefde","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"assistant_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1340,"wires":[["d32ef023.4fb07","a8106fad.259f","2f6259b.0c942a6"]]},{"id":"d32ef023.4fb07","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload = \"not responding\" ? 0 : 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1280,"wires":[["ea06b9c9.0e48f8"]]},{"id":"a8106fad.259f","type":"debug","z":"87054f3b.c2f9f","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":1300,"wires":[]},{"id":"33faa2b3.c4183e","type":"switch","z":"87054f3b.c2f9f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"conv._turn_started","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1440,"wires":[["b7863231.f6272"]]},{"id":"b7863231.f6272","type":"change","z":"87054f3b.c2f9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1440,"wires":[["d43df68e.2687f8"]]},{"id":"d5d7789a.f50448","type":"comment","z":"87054f3b.c2f9f","name":"Volume control","info":"","x":300,"y":1560,"wires":[]},{"id":"a40048ff.8e5fe8","type":"ui_slider","z":"87054f3b.c2f9f","name":"volume control","label":"slider","group":"fd12f517.86e068","order":0,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":"100","step":"10","x":400,"y":1700,"wires":[["57b3d009.fb375"]]},{"id":"4fcef703.532978","type":"mqtt in","z":"87054f3b.c2f9f","name":"","topic":"pi3/volume/percentage","qos":"0","broker":"aa29afa1.fb85e","x":140,"y":1700,"wires":[["a40048ff.8e5fe8","fb05e139.eacf2"]]},{"id":"4ea5d13f.2d789","type":"inject","z":"87054f3b.c2f9f","name":"retrieve current volume","topic":"pi","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1600,"wires":[["a85a1d29.683ae"]]},{"id":"a85a1d29.683ae","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/volume/get","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":400,"y":1600,"wires":[]},{"id":"fb05e139.eacf2","type":"debug","z":"87054f3b.c2f9f","name":"pi3/volume/percentage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":1660,"wires":[]},{"id":"57b3d009.fb375","type":"change","z":"87054f3b.c2f9f","name":"add % (so 60 becomes 60%)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload & '%'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1700,"wires":[["6cb18215.707dec"]]},{"id":"6cb18215.707dec","type":"mqtt out","z":"87054f3b.c2f9f","name":"","topic":"pi3/volume/set","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":880,"y":1700,"wires":[]},{"id":"39677eb1.237002","type":"ui_chart","z":"d18538f6.c8d958","name":"soundmeter","group":"67db6900.55e0c8","order":0,"width":"6","height":"5","label":"soundmeter","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":140,"wires":[[],[]]},{"id":"f63afd51.ba02d","type":"comment","z":"a655f637.a301b8","name":"Flow documentation","info":"# Snowboy_mqtt process statuses\n1. init\n2. launched\n3. pid determined\n4. killing\n5. stopped\n\n# To Do\n\nhttps://stackoverflow.com/questions/6550484/prevent-grep-returning-an-error-when-input-doesnt-match\n","x":112,"y":35,"wires":[]},{"id":"7060cc05.970654","type":"inject","z":"a655f637.a301b8","name":"at startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":92,"y":77,"wires":[["27e4b7cc.3c7988"]]},{"id":"d8faf51a.b02a78","type":"exec","z":"a655f637.a301b8","command":"ps -ef | grep snowboy_mqtt.py | grep -v grep | grep -v \"/home/pi\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ps -ef | grep snowboy_mqtt.py | ....","x":206,"y":188,"wires":[["8701de5f.debb1","5c2ab1f6.c1044"],["10f4e6f9.c15999"],["861c9ab8.afdba8"]]},{"id":"8701de5f.debb1","type":"debug","z":"a655f637.a301b8","name":"ps -ef stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":462,"y":103,"wires":[]},{"id":"10f4e6f9.c15999","type":"debug","z":"a655f637.a301b8","name":"ps -ef stderr","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":469,"y":182,"wires":[]},{"id":"861c9ab8.afdba8","type":"debug","z":"a655f637.a301b8","name":"ps -ef return code","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":477,"y":220,"wires":[]},{"id":"5c2ab1f6.c1044","type":"switch","z":"a655f637.a301b8","name":"is running ?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$substring(payload,0,2)=\"pi\"","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":464,"y":144,"wires":[["bf5ead3d.21b83"],["75ef46b1.d0ec68","804a2bc0.a7bee8","e016abdd.eb6cf8"]],"outputLabels":["snowboy_mqtt is running",""]},{"id":"bf5ead3d.21b83","type":"change","z":"a655f637.a301b8","name":"extract pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($split($trim(payload),' ')[1])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":112,"wires":[["4f855eaa.13fe4","704c945c.a6d74c"]]},{"id":"4f855eaa.13fe4","type":"debug","z":"a655f637.a301b8","name":"pid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":815,"y":66,"wires":[]},{"id":"75ef46b1.d0ec68","type":"debug","z":"a655f637.a301b8","name":"snowboy_mqtt is not running","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":696,"y":145,"wires":[]},{"id":"97e7af50.cbb7","type":"exec","z":"a655f637.a301b8","command":"cd /home/pi/snowboy/examples/Python;nohup python -u snowboy_mqtt.py > /home/pi/log/snowboy_mqtt.output 2>&1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"launch snowboy_mqtt","x":811,"y":251,"wires":[["d741def0.169f7"],["a80ef96.8f4af08"],["969bdf8c.ec19c"]]},{"id":"d741def0.169f7","type":"debug","z":"a655f637.a301b8","name":"snowboy mqtt stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1065,"y":225,"wires":[]},{"id":"a80ef96.8f4af08","type":"debug","z":"a655f637.a301b8","name":"snowboy mqtt stderr","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1066,"y":260,"wires":[]},{"id":"969bdf8c.ec19c","type":"debug","z":"a655f637.a301b8","name":"snowboy mqtt return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":953,"y":367,"wires":[]},{"id":"97c2d251.86e2f","type":"exec","z":"a655f637.a301b8","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"top snowboy_mqtt pid","x":178,"y":507,"wires":[["ea4abfb0.515d1","dd025aee.03dda8"],["b0c11b16.599fd8"],["25ab4e34.807182"]]},{"id":"ea4abfb0.515d1","type":"debug","z":"a655f637.a301b8","name":"top snowboy_mqtt stdout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":418,"y":456,"wires":[]},{"id":"b0c11b16.599fd8","type":"debug","z":"a655f637.a301b8","name":"top snowboy_mqtt stderr","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":428,"y":522,"wires":[]},{"id":"25ab4e34.807182","type":"debug","z":"a655f637.a301b8","name":"top snowboy_mqtt return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":439,"y":556,"wires":[]},{"id":"8e5521ce.55cdd","type":"change","z":"a655f637.a301b8","name":"msg.payload = <top for snowboy mqtt pid>","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"top -b -d 10 -p \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":195,"y":374,"wires":[["97c2d251.86e2f","2684f723.aab228"]]},{"id":"2684f723.aab228","type":"debug","z":"a655f637.a301b8","name":"top command","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":489,"y":370,"wires":[]},{"id":"dd025aee.03dda8","type":"change","z":"a655f637.a301b8","name":"extract snowboy process","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split($trim($substringAfter(payload,\"TIME+ COMMAND\")),\" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":419,"y":488,"wires":[["4a2ee5a.d7d401c","6cd79610.dc5fe8"]]},{"id":"4a2ee5a.d7d401c","type":"debug","z":"a655f637.a301b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":653,"y":437,"wires":[]},{"id":"6cd79610.dc5fe8","type":"switch","z":"a655f637.a301b8","name":"is process with pid still running ?","property":"$count(payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"12","vt":"num"},{"t":"lt","v":"12","vt":"num"},{"t":"eq","v":"25","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":714,"y":489,"wires":[["95ca031b.89c6d"],["16184a0f.7c2666","e2c32534.544788"],[],["ffb7f0f8.caa6b","c41d11e.f8c22f"]],"outputLabels":["process with pid is running","process with pid is NOT running anymore",null,""]},{"id":"4dae0f4b.95c41","type":"switch","z":"a655f637.a301b8","name":"CPU < 80%","property":"cpu","propertyType":"msg","rules":[{"t":"lt","v":"80","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":993,"y":462,"wires":[["529ec9ce.69d198"],["7d65f0be.e3bde","d9384dff.1838"]],"outputLabels":["","CPU > 100%"]},{"id":"7d65f0be.e3bde","type":"debug","z":"a655f637.a301b8","name":"CPU >= 80%","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1311,"y":412,"wires":[]},{"id":"529ec9ce.69d198","type":"debug","z":"a655f637.a301b8","name":"CPU < 80%","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1310,"y":360,"wires":[]},{"id":"16184a0f.7c2666","type":"debug","z":"a655f637.a301b8","name":"process with pid NOT running anymore","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1039,"y":569,"wires":[]},{"id":"ffb7f0f8.caa6b","type":"debug","z":"a655f637.a301b8","name":"E01: more items in array than expected.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":876,"y":750,"wires":[]},{"id":"3d166352.ef395c","type":"debug","z":"a655f637.a301b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":966,"y":710,"wires":[]},{"id":"c41d11e.f8c22f","type":"change","z":"a655f637.a301b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$count(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":797,"y":710,"wires":[["3d166352.ef395c"]]},{"id":"804a2bc0.a7bee8","type":"delay","z":"a655f637.a301b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":684,"y":322,"wires":[["fb34f739.737b58"]]},{"id":"b1d2e4db.dff558","type":"link in","z":"a655f637.a301b8","name":"launch snowboy mqtt process","links":["fb34f739.737b58","a681ea5e.974898"],"x":48,"y":243,"wires":[["d8faf51a.b02a78"]]},{"id":"fb34f739.737b58","type":"link out","z":"a655f637.a301b8","name":"","links":["b1d2e4db.dff558"],"x":792,"y":321,"wires":[]},{"id":"d0edbec7.a8c53","type":"exec","z":"a655f637.a301b8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"kill snowboy process","x":1346,"y":529,"wires":[["76c9da5a.9522c4"],["75b88a0d.3acf54"],["18a9afc8.1788"]]},{"id":"95ca031b.89c6d","type":"change","z":"a655f637.a301b8","name":"msg.cpu= CPU%, msg.payload = pid","rules":[{"t":"set","p":"cpu","pt":"msg","to":"$number(payload[8])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":935,"y":424,"wires":[["4dae0f4b.95c41"]]},{"id":"b941bf1.e907d4","type":"inject","z":"a655f637.a301b8","name":"kill top snow_boy_mqtt process","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182,"y":665,"wires":[["27745b74.9ae784"]]},{"id":"27745b74.9ae784","type":"change","z":"a655f637.a301b8","name":"msg.kill = SIGINT","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":179,"y":413,"wires":[["97c2d251.86e2f"]]},{"id":"c11c7d06.84133","type":"link out","z":"a655f637.a301b8","name":"kill top process","links":["567710e8.73715"],"x":1150,"y":627,"wires":[]},{"id":"567710e8.73715","type":"link in","z":"a655f637.a301b8","name":"kill top process","links":["c11c7d06.84133"],"x":40,"y":414,"wires":[["27745b74.9ae784"]]},{"id":"a681ea5e.974898","type":"link out","z":"a655f637.a301b8","name":"","links":["b1d2e4db.dff558"],"x":1150,"y":665,"wires":[]},{"id":"e69f71c9.730db","type":"comment","z":"a655f637.a301b8","name":"test nodes","info":"","x":83,"y":619,"wires":[]},{"id":"27e4b7cc.3c7988","type":"change","z":"a655f637.a301b8","name":"flow.status = init","rules":[{"t":"set","p":"status","pt":"flow","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":261,"y":77,"wires":[["d8faf51a.b02a78"]]},{"id":"704c945c.a6d74c","type":"change","z":"a655f637.a301b8","name":"flow.status = pid determined","rules":[{"t":"set","p":"status","pt":"flow","to":"pid determined","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":888,"y":111,"wires":[["8e5521ce.55cdd"]]},{"id":"e016abdd.eb6cf8","type":"switch","z":"a655f637.a301b8","name":"check status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":183,"wires":[["1bbdc46a.18549c"],["1bbdc46a.18549c"]]},{"id":"1bbdc46a.18549c","type":"change","z":"a655f637.a301b8","name":"","rules":[{"t":"set","p":"status","pt":"flow","to":"launched","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":877,"y":184,"wires":[["97e7af50.cbb7"]]},{"id":"d9384dff.1838","type":"switch","z":"a655f637.a301b8","name":"check status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"pid determined","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":450,"wires":[["160c9b8b.370714"]]},{"id":"160c9b8b.370714","type":"change","z":"a655f637.a301b8","name":"flow.status = killing","rules":[{"t":"set","p":"status","pt":"flow","to":"killing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1327,"y":486,"wires":[["d0edbec7.a8c53"]]},{"id":"e2c32534.544788","type":"switch","z":"a655f637.a301b8","name":"check status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"killing","vt":"str"},{"t":"eq","v":"pid determined","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":605,"wires":[["4f39a0f5.c17f"],["4f39a0f5.c17f"]]},{"id":"4f39a0f5.c17f","type":"change","z":"a655f637.a301b8","name":"flow.status = stopped","rules":[{"t":"set","p":"status","pt":"flow","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":643,"wires":[["c11c7d06.84133","a681ea5e.974898"]]},{"id":"76c9da5a.9522c4","type":"debug","z":"a655f637.a301b8","name":"kill snowboy stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1587,"y":485,"wires":[]},{"id":"75b88a0d.3acf54","type":"debug","z":"a655f637.a301b8","name":"kill snowboy stderr","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1596,"y":521,"wires":[]},{"id":"18a9afc8.1788","type":"debug","z":"a655f637.a301b8","name":"kill snowboy return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1605,"y":555,"wires":[]},{"id":"d21f4460.e62968","type":"switch","z":"d9ccf5e4.c1c8e8","name":"not_playing ?","property":"radio_news","propertyType":"global","rules":[{"t":"eq","v":"not_playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":354,"y":197,"wires":[["8df890c0.ac92a"]]},{"id":"e9b5b86a.c6fee8","type":"inject","z":"d9ccf5e4.c1c8e8","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":94,"y":66,"wires":[["f6075abd.7759c8"]]},{"id":"f6075abd.7759c8","type":"change","z":"d9ccf5e4.c1c8e8","name":"global.radio_news = not_playing","rules":[{"t":"set","p":"radio_news","pt":"global","to":"not_playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":333,"y":65,"wires":[[]]},{"id":"8df890c0.ac92a","type":"change","z":"d9ccf5e4.c1c8e8","name":"global.radio_news = playing","rules":[{"t":"set","p":"radio_news","pt":"global","to":"playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574,"y":197,"wires":[["718493b4.8e71ac"]]},{"id":"e7949ecd.ead2","type":"change","z":"d9ccf5e4.c1c8e8","name":"global.radio_news = not_playing","rules":[{"t":"set","p":"radio_news","pt":"global","to":"not_playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":299,"wires":[[]]},{"id":"648c6b61.cf5c34","type":"switch","z":"d9ccf5e4.c1c8e8","name":"playing ?","property":"radio_news","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":341,"y":293,"wires":[["b9364dd6.afcc6"]]},{"id":"651020cb.aef55","type":"inject","z":"e9418980.02a898","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":339,"wires":[["a87c868c.2a7a88"]]},{"id":"a87c868c.2a7a88","type":"mqtt out","z":"e9418980.02a898","name":"","topic":"pi3/aiy/snowboy/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":384,"y":344,"wires":[]},{"id":"6e19e45a.65b52c","type":"inject","z":"e9418980.02a898","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":394,"wires":[["a87c868c.2a7a88"]]},{"id":"af5371d8.6ef77","type":"inject","z":"e9418980.02a898","name":"","topic":"","payload":"get_status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":446,"wires":[["a87c868c.2a7a88"]]},{"id":"d085fd28.9e059","type":"mqtt in","z":"e9418980.02a898","name":"","topic":"pi3/aiy/snowboy/status","qos":"0","broker":"aa29afa1.fb85e","x":136,"y":515,"wires":[["eac13fb7.c4baa"]]},{"id":"eac13fb7.c4baa","type":"debug","z":"e9418980.02a898","name":"snowboy status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":381,"y":514,"wires":[]},{"id":"e02a0684.25dbe8","type":"mqtt in","z":"e9418980.02a898","name":"","topic":"pi3/aiy/snowboy/event_type","qos":"0","broker":"aa29afa1.fb85e","x":125,"y":134,"wires":[["ed7ebf8a.3b81c","73f28a82.5c9774"]]},{"id":"ed7ebf8a.3b81c","type":"debug","z":"e9418980.02a898","name":"snowboy event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":277,"y":82,"wires":[]},{"id":"73f28a82.5c9774","type":"switch","z":"e9418980.02a898","name":"hotword detected ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hotword_detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":381,"y":134,"wires":[["182f992a.3cc9c7"]]},{"id":"fab6eef.8718b1","type":"mqtt out","z":"e9418980.02a898","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":953,"y":166,"wires":[]},{"id":"553bb4de.9eda2c","type":"change","z":"e9418980.02a898","name":"msg.payload = start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":717,"y":167,"wires":[["fab6eef.8718b1"]]},{"id":"91d5d89e.79ec98","type":"comment","z":"e9418980.02a898","name":"activate cloudspeech when Snowboy detects hotword","info":"","x":447,"y":33,"wires":[]},{"id":"45b0f5f4.1c090c","type":"comment","z":"e9418980.02a898","name":"testing Snowboy functionality","info":"","x":360,"y":289,"wires":[]},{"id":"182f992a.3cc9c7","type":"switch","z":"e9418980.02a898","name":"radio news  not playing ?","property":"radio_news","propertyType":"global","rules":[{"t":"neq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":391,"y":174,"wires":[["dce204d.b7536f8"]]},{"id":"abbcef5b.970df","type":"switch","z":"61ade063.a538d","name":"radio news playing ?","property":"radio_news","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":736,"y":95,"wires":[["c86a31f7.31c38"],["cce92b64.eda5d8"]]},{"id":"37d39218.1cc47e","type":"switch","z":"61ade063.a538d","name":"alarm ringing ?","property":"alarm","propertyType":"global","rules":[{"t":"eq","v":"ringing","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":694,"y":53,"wires":[["f9f70cd.ad204f"],["abbcef5b.970df"]]},{"id":"f9f70cd.ad204f","type":"link out","z":"61ade063.a538d","name":"","links":["87927b1f.9d1af8"],"x":923,"y":46,"wires":[]},{"id":"a81b0d8c.951c2","type":"change","z":"61ade063.a538d","name":"msg.payload = start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["1d45eb76.907ef5"]]},{"id":"1d45eb76.907ef5","type":"mqtt out","z":"61ade063.a538d","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"","broker":"aa29afa1.fb85e","x":1210,"y":240,"wires":[]},{"id":"dce204d.b7536f8","type":"switch","z":"e9418980.02a898","name":"alarm not ringing ?","property":"alarm","propertyType":"global","rules":[{"t":"neq","v":"ringing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":391,"y":212,"wires":[["553bb4de.9eda2c"]]},{"id":"29a89432.7e96ac","type":"daemon","z":"d18538f6.c8d958","command":"soundmeter","args":"-v","cr":false,"redo":true,"op":"string","name":"","x":350,"y":160,"wires":[["b93d2175.5ed37","389219b3.6d0976"],["cff8071d.15b6c8"],["ceed0d1c.f8013"]]},{"id":"6f4baab2.8b4b84","type":"change","z":"d18538f6.c8d958","name":"","rules":[{"t":"set","p":"start","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":100,"wires":[["29a89432.7e96ac"]]},{"id":"eff43267.613fe","type":"ui_text_input","z":"5b86f131.058e3","name":"","label":"gecodeerde tekst:","group":"9104c307.1e30d","order":0,"width":"13","height":"6","passthru":true,"mode":"text","delay":"0","topic":"","x":270,"y":80,"wires":[["9b3c0166.9f797","e6bb029b.091c6"]]},{"id":"cce4e858.5115f8","type":"ui_text","z":"5b86f131.058e3","group":"9104c307.1e30d","order":0,"width":"13","height":"11","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":570,"y":180,"wires":[]},{"id":"9b3c0166.9f797","type":"debug","z":"5b86f131.058e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":80,"wires":[]},{"id":"e6bb029b.091c6","type":"function","z":"5b86f131.058e3","name":"","func":"var text = msg.payload\nvar s = text.split('');\nfor (var i = 0; i < s.length; i++) {\n    // Caesar cipher\n    switch(s[i]) {\n        case ' ':\n            break;\n        case 'a':\n            s[i] = 'z';\n            break;\n         case 'a':     // One case you forgot to handle\n            s[i] = 'Z';\n            break;\n          default:\n            s[i] = String.fromCharCode(-1 + s[i].charCodeAt(0));\n        }\n\n\n}\nmsg.payload= s.join('');\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["cce4e858.5115f8"]]},{"id":"9181ee40.62515","type":"mpd out","z":"5db08893.014138","name":"","topic":"","server":"2d6957e2.8b3dc8","x":380,"y":160,"wires":[["906c0188.f96c"]]},{"id":"906c0188.f96c","type":"debug","z":"5db08893.014138","name":"mpd out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":160,"wires":[]},{"id":"83b8af8d.85361","type":"mpd in","z":"5db08893.014138","name":"","topic":"","server":"2d6957e2.8b3dc8","x":330,"y":300,"wires":[["9b1293fe.b1a5"]]},{"id":"9b1293fe.b1a5","type":"debug","z":"5db08893.014138","name":"\"mpd in\" output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":300,"wires":[]},{"id":"a075e93e.bf5428","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["9181ee40.62515"]]},{"id":"8d9d532c.6a649","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"playlistinfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["9181ee40.62515"]]},{"id":"2a855176.7be1ce","type":"comment","z":"5db08893.014138","name":"Prerequisites","info":"# Music Player Daemon (mpd) installation\nThis flow requires that `mpd` ( *music player daemon* : https://www.musicpd.org/) must be installed and that\n`/etc/mpd.conf` must be adapted as specified in https://www.hackster.io/vvanhee/internet-streaming-radio-with-google-aiy-1edff3\n\n# stopping and starting mpd daemon\nmpd can be stopped and started by following commands:\n```\nsudo systemctl start mpd\nsudo systemctl stop mpd\n```\nThe status of the daemon can be checked by following command\n```sudo systemctl status mpd```\n\n# log files\nThe mpd log file is located at:\n```\n/var/log/mpd/mpd.log\n```\n\n# testing mpd installation\nmpd can be tested with following command:\n```\nmpc add http://50.31.180.202:80/\nmpc play\n```\nThe following command can be used to stop it:\n```\nmpc stop\n```\n# References\nhttps://www.vrt.be/nl/aanbod/kijk-en-luister/radio-luisteren/streamingslinks-radio/\n\nhttp://progressive-audio.lwc.vrtcdn.be/content/fixed/11_11niws-snip_hi.mp3\n","x":310,"y":40,"wires":[]},{"id":"7b9f05d6.60d7bc","type":"inject","z":"5db08893.014138","name":"add <vrt news URI>","topic":"","payload":"add http://progressive-audio.lwc.vrtcdn.be/content/fixed/11_11niws-snip_hi.mp3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["9181ee40.62515"]]},{"id":"2638af93.b5b8c","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"play 0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["9181ee40.62515"]]},{"id":"f362b687.ac5a28","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":660,"wires":[["9181ee40.62515"]]},{"id":"f96c9bd6.542008","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"setvol 80","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["9181ee40.62515"]]},{"id":"200394f2.8fe4ac","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"play 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["9181ee40.62515"]]},{"id":"3d5ffee3.86d852","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"setvol 60","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["9181ee40.62515"]]},{"id":"1dfdc329.a0f12d","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"pause 0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["9181ee40.62515"]]},{"id":"d18f7a03.fc10e8","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"pause 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["9181ee40.62515"]]},{"id":"4f27ffe3.7ceed","type":"inject","z":"5db08893.014138","name":"add <stubru tijdloze>","topic":"","payload":"add http://icecast.vrtcdn.be/stubru_tijdloze-high.mp3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["9181ee40.62515"]]},{"id":"776c0dd3.6d2a84","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"play 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["9181ee40.62515"]]},{"id":"6fe58e32.d0e16","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"setvol 40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":780,"wires":[["9181ee40.62515"]]},{"id":"20fa88d5.fb7118","type":"inject","z":"5db08893.014138","name":"add <puur vlaams>","topic":"","payload":"add http://37.187.79.153:6158/stream","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["9181ee40.62515"]]},{"id":"8060b072.32d96","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"play 41","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["9181ee40.62515"]]},{"id":"4be95776.c1aaf8","type":"inject","z":"5db08893.014138","name":"","topic":"","payload":"setvol 20","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":820,"wires":[["9181ee40.62515"]]},{"id":"61a1aca.a57e354","type":"mpd out","z":"30c668a.ce70298","name":"","topic":"","server":"2d6957e2.8b3dc8","x":1160,"y":460,"wires":[["8c5aa1b3.fd55e"]]},{"id":"f40271e4.87083","type":"ui_button","z":"30c668a.ce70298","name":"play","group":"1d184886.a05177","order":5,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-play","payload":"play","payloadType":"str","topic":"","x":1049,"y":696,"wires":[["61a1aca.a57e354"]]},{"id":"92199c92.c3b2e","type":"ui_button","z":"30c668a.ce70298","name":"stop","group":"1d184886.a05177","order":7,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-stop","payload":"stop","payloadType":"str","topic":"","x":1049,"y":736,"wires":[["61a1aca.a57e354"]]},{"id":"28ad5edb.d88f12","type":"ui_button","z":"30c668a.ce70298","name":"previous","group":"1d184886.a05177","order":4,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-backward","payload":"previous","payloadType":"str","topic":"","x":1059,"y":616,"wires":[["61a1aca.a57e354"]]},{"id":"628d92a2.21a13c","type":"ui_button","z":"30c668a.ce70298","name":"next","group":"1d184886.a05177","order":8,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-forward","payload":"next","payloadType":"str","topic":"","x":1049,"y":776,"wires":[["61a1aca.a57e354"]]},{"id":"5c16552.edd22ac","type":"inject","z":"30c668a.ce70298","name":"Stop playing","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":790,"y":180,"wires":[["61a1aca.a57e354"]]},{"id":"b3962fdf.68bbe","type":"ui_button","z":"30c668a.ce70298","name":"pause","group":"1d184886.a05177","order":6,"width":"1","height":"1","passthru":true,"label":"","color":"","bgcolor":"","icon":"fa-pause","payload":"pause","payloadType":"str","topic":"","x":1049,"y":656,"wires":[["61a1aca.a57e354"]]},{"id":"13c878d2.985837","type":"inject","z":"30c668a.ce70298","name":"","topic":"","payload":"setvol 100","payloadType":"str","repeat":"","crontab":"","once":false,"x":1238,"y":685,"wires":[["61a1aca.a57e354"]]},{"id":"dae4baf6.498b28","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":2,"width":"4","height":"1","passthru":false,"label":"Radio 10","color":"","bgcolor":"","icon":"","payload":"play 1","payloadType":"str","topic":"","x":72,"y":148,"wires":[["61a1aca.a57e354"]]},{"id":"94aa3f5f.a7a3b","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":3,"width":"4","height":"1","passthru":false,"label":"Q-music","color":"","bgcolor":"","icon":"","payload":"play 2","payloadType":"str","topic":"","x":71,"y":185,"wires":[["61a1aca.a57e354"]]},{"id":"526b04f1.8253dc","type":"debug","z":"30c668a.ce70298","name":"","active":true,"console":"false","complete":"false","x":409,"y":66,"wires":[]},{"id":"af2b220e.fd653","type":"ui_template","z":"30c668a.ce70298","group":"1d184886.a05177","name":"","order":1,"width":"8","height":"3","format":"<!DOCTYPE html> \n<div>\n    <h3>{{msg.payload.status.state}} met\n    {{msg.payload.currentsong.Pos}}\n    {{msg.payload.currentsong.Name}}</h3>\n    <p></p>\n    <h4>{{msg.payload.currentsong.Title}}</h4>\n</div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":231,"y":66,"wires":[["526b04f1.8253dc"]]},{"id":"7e52c444.010c0c","type":"ui_button","z":"30c668a.ce70298","name":"volume up","group":"1d184886.a05177","order":3,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"volume +2","payloadType":"str","topic":"","x":1229,"y":726,"wires":[["61a1aca.a57e354"]]},{"id":"131de585.610e5a","type":"ui_button","z":"30c668a.ce70298","name":"volume down","group":"1d184886.a05177","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"volume -2","payloadType":"str","topic":"","x":1229,"y":769,"wires":[["61a1aca.a57e354"]]},{"id":"79db9bf7.c154d4","type":"ui_template","z":"30c668a.ce70298","group":"1d184886.a05177","name":"volume","order":10,"width":"2","height":"1","format":"<!DOCTYPE html> \n<div>\n    <h4>{{msg.payload.status.volume}}%</h4>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1180,"y":940,"wires":[[]]},{"id":"c304d16d.5fcc9","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":4,"width":"4","height":"1","passthru":false,"label":"Radio 1","color":"","bgcolor":"","icon":"","payload":"play 3","payloadType":"str","topic":"","x":71,"y":222,"wires":[["61a1aca.a57e354"]]},{"id":"6dcc9fbe.b4e16","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":5,"width":"4","height":"1","passthru":false,"label":"Radio 2","color":"","bgcolor":"","icon":"","payload":"play 4","payloadType":"str","topic":"","x":70,"y":259,"wires":[["61a1aca.a57e354"]]},{"id":"32d25cdb.109984","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":6,"width":"4","height":"1","passthru":false,"label":"3fm","color":"","bgcolor":"","icon":"","payload":"play 5","payloadType":"str","topic":"","x":61,"y":297,"wires":[["61a1aca.a57e354"]]},{"id":"e6830e40.c883b","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":7,"width":"4","height":"1","passthru":false,"label":"3fm alternative","color":"","bgcolor":"","icon":"","payload":"play 6","payloadType":"str","topic":"","x":90,"y":334,"wires":[["61a1aca.a57e354"]]},{"id":"8386ada4.7991","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":8,"width":"4","height":"1","passthru":false,"label":"3fm talent","color":"","bgcolor":"","icon":"","payload":"play 7","payloadType":"str","topic":"","x":72,"y":370,"wires":[["61a1aca.a57e354"]]},{"id":"444a06d6.fff2e8","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":9,"width":"4","height":"1","passthru":false,"label":"Radio 4","color":"","bgcolor":"","icon":"","payload":"play 8","payloadType":"str","topic":"","x":71,"y":407,"wires":[["61a1aca.a57e354"]]},{"id":"3cb0fd02.af37e2","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":10,"width":"4","height":"1","passthru":false,"label":"Radio 4 eigentijds","color":"","bgcolor":"","icon":"","payload":"play 9","payloadType":"str","topic":"","x":101,"y":443,"wires":[["61a1aca.a57e354"]]},{"id":"9f922fb2.89e45","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":11,"width":"4","height":"1","passthru":false,"label":"Radio 5","color":"","bgcolor":"","icon":"","payload":"play 10","payloadType":"str","topic":"","x":70,"y":480,"wires":[["61a1aca.a57e354"]]},{"id":"a2b4cc7b.0b173","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":12,"width":"4","height":"1","passthru":false,"label":"Radio 6","color":"","bgcolor":"","icon":"","payload":"play 11","payloadType":"str","topic":"","x":70,"y":517,"wires":[["61a1aca.a57e354"]]},{"id":"17bde24d.a1344e","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":13,"width":"4","height":"1","passthru":false,"label":"Radio 538","color":"","bgcolor":"","icon":"","payload":"play 12","payloadType":"str","topic":"","x":79,"y":554,"wires":[["61a1aca.a57e354"]]},{"id":"987dfe41.1143d","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":14,"width":"4","height":"1","passthru":false,"label":"Q-music Limburg","color":"","bgcolor":"","icon":"","payload":"play 13","payloadType":"str","topic":"","x":104,"y":590,"wires":[["61a1aca.a57e354"]]},{"id":"cdfed2a4.145e9","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":15,"width":"4","height":"1","passthru":false,"label":"Wild radio","color":"","bgcolor":"","icon":"","payload":"play 14","payloadType":"str","topic":"","x":73,"y":627,"wires":[["61a1aca.a57e354"]]},{"id":"ed3f0656.d8b9b8","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":1,"width":"4","height":"1","passthru":false,"label":"100% NL","color":"","bgcolor":"","icon":"","payload":"play 15","payloadType":"str","topic":"","x":71,"y":663,"wires":[["61a1aca.a57e354"]]},{"id":"dda90283.67b1e","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":16,"width":"4","height":"1","passthru":false,"label":"#Pophits","color":"","bgcolor":"","icon":"","payload":"play 16","payloadType":"str","topic":"","x":71,"y":700,"wires":[["61a1aca.a57e354"]]},{"id":"5d3fff27.190c8","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":17,"width":"4","height":"1","passthru":false,"label":"101 Smooth Jazz","color":"","bgcolor":"","icon":"","payload":"play 17","payloadType":"str","topic":"","x":101,"y":737,"wires":[["61a1aca.a57e354"]]},{"id":"e5978cb9.50f83","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":18,"width":"4","height":"1","passthru":false,"label":"ABC Lounge","color":"","bgcolor":"","icon":"","payload":"play 18","payloadType":"str","topic":"","x":83,"y":772,"wires":[["61a1aca.a57e354"]]},{"id":"cd783452.bdc4b8","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":19,"width":"4","height":"1","passthru":false,"label":"Hit radio","color":"","bgcolor":"","icon":"","payload":"play 20","payloadType":"str","topic":"","x":70,"y":808,"wires":[["61a1aca.a57e354"]]},{"id":"f1f7fdf3.2b708","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"Top 20 radio","color":"","bgcolor":"","icon":"","payload":"play 21","payloadType":"str","topic":"","x":80,"y":843,"wires":[["61a1aca.a57e354"]]},{"id":"4a57762d.6a0af8","type":"comment","z":"30c668a.ce70298","name":"<<< --------  KLIK hier links om de database te resetten  ----------","info":"","x":1241,"y":233,"wires":[]},{"id":"c2ab7d05.256b7","type":"inject","z":"30c668a.ce70298","name":"leeg database","topic":"","payload":"clear","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":790,"y":214,"wires":[["61a1aca.a57e354"]]},{"id":"47cdf95a.99c2c8","type":"inject","z":"30c668a.ce70298","name":"load radio","topic":"","payload":"load radio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":779,"y":248,"wires":[["61a1aca.a57e354"]]},{"id":"1bb56cab.c5b3b3","type":"inject","z":"30c668a.ce70298","name":"play radio 10","topic":"","payload":"play 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":789,"y":282,"wires":[["61a1aca.a57e354"]]},{"id":"b1e9994.3d0d368","type":"comment","z":"30c668a.ce70298","name":"<<< - 1 -","info":"","x":954,"y":180,"wires":[]},{"id":"5b6bf3e8.03aeac","type":"comment","z":"30c668a.ce70298","name":"<<< - 2 -","info":"","x":955,"y":214,"wires":[]},{"id":"681fa64f.e825b8","type":"comment","z":"30c668a.ce70298","name":"<<< - 3 -","info":"","x":955,"y":248,"wires":[]},{"id":"33091492.fbf6ec","type":"comment","z":"30c668a.ce70298","name":"<<< - 4 -","info":"","x":955,"y":282,"wires":[]},{"id":"3a47da69.984516","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":21,"width":"4","height":"1","passthru":false,"label":"Sky radio FM","color":"","bgcolor":"","icon":"","payload":"play 22","payloadType":"str","topic":"","x":330,"y":218,"wires":[["61a1aca.a57e354"]]},{"id":"4679368c.5c0648","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":22,"width":"4","height":"1","passthru":false,"label":"Sky radio hits","color":"","bgcolor":"","icon":"","payload":"play 23","payloadType":"str","topic":"","x":339,"y":254,"wires":[["61a1aca.a57e354"]]},{"id":"39bbdfe.e0d8f2","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":23,"width":"4","height":"1","passthru":false,"label":"Sky radio summer hits","color":"","bgcolor":"","icon":"","payload":"play 24","payloadType":"str","topic":"","x":359,"y":288,"wires":[["61a1aca.a57e354"]]},{"id":"fc8d7f84.fbbed","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":24,"width":"4","height":"1","passthru":false,"label":"Sky radio love songs","color":"","bgcolor":"","icon":"","payload":"play 25","payloadType":"str","topic":"","x":358,"y":322,"wires":[["61a1aca.a57e354"]]},{"id":"626f2f32.39dd8","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":25,"width":"4","height":"1","passthru":false,"label":"Sky radio 80s hits","color":"","bgcolor":"","icon":"","payload":"play 26","payloadType":"str","topic":"","x":348,"y":356,"wires":[["61a1aca.a57e354"]]},{"id":"e57b8103.3de6c","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":26,"width":"4","height":"1","passthru":false,"label":"Sky radio 90s hits","color":"","bgcolor":"","icon":"","payload":"play 27","payloadType":"str","topic":"","x":346,"y":390,"wires":[["61a1aca.a57e354"]]},{"id":"bc36258c.728f58","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":27,"width":"4","height":"1","passthru":false,"label":"Sky radio 2000s hits","color":"","bgcolor":"","icon":"","payload":"play 28","payloadType":"str","topic":"","x":354,"y":424,"wires":[["61a1aca.a57e354"]]},{"id":"71f7c9bb.ca8a78","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":28,"width":"4","height":"1","passthru":false,"label":"Sky radio 10s hits","color":"","bgcolor":"","icon":"","payload":"play 29","payloadType":"str","topic":"","x":345,"y":458,"wires":[["61a1aca.a57e354"]]},{"id":"d5d52eae.b210e","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":29,"width":"4","height":"1","passthru":false,"label":"Sky radio lounge","color":"","bgcolor":"","icon":"","payload":"play 30","payloadType":"str","topic":"","x":344,"y":492,"wires":[["61a1aca.a57e354"]]},{"id":"8edca8cd.72a198","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":30,"width":"4","height":"1","passthru":false,"label":"Sky radio smooth hits","color":"","bgcolor":"","icon":"","payload":"play 31","payloadType":"str","topic":"","x":354,"y":526,"wires":[["61a1aca.a57e354"]]},{"id":"47622326.51aa6c","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":31,"width":"4","height":"1","passthru":false,"label":"Sky radio songwriter","color":"","bgcolor":"","icon":"","payload":"play 32","payloadType":"str","topic":"","x":353,"y":560,"wires":[["61a1aca.a57e354"]]},{"id":"b9c36808.67c298","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":32,"width":"4","height":"1","passthru":false,"label":"Sky radio feel good hits","color":"","bgcolor":"","icon":"","payload":"play 33","payloadType":"str","topic":"","x":362,"y":595,"wires":[["61a1aca.a57e354"]]},{"id":"2f88f381.c286fc","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":33,"width":"4","height":"1","passthru":false,"label":"Sky radio christmas","color":"","bgcolor":"","icon":"","payload":"play 34","payloadType":"str","topic":"","x":341,"y":630,"wires":[["61a1aca.a57e354"]]},{"id":"344d0f7a.282a7","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":34,"width":"4","height":"1","passthru":false,"label":"Sky radio bootcamp","color":"","bgcolor":"","icon":"","payload":"play 35","payloadType":"str","topic":"","x":351,"y":664,"wires":[["61a1aca.a57e354"]]},{"id":"7b8ac4e7.0eb4cc","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":35,"width":"4","height":"1","passthru":false,"label":"Sky radio hits starter","color":"","bgcolor":"","icon":"","payload":"play 36","payloadType":"str","topic":"","x":349,"y":698,"wires":[["61a1aca.a57e354"]]},{"id":"5cbfc1c5.1a325","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":36,"width":"4","height":"1","passthru":false,"label":"Sky radio hits gevorderd","color":"","bgcolor":"","icon":"","payload":"play 37","payloadType":"str","topic":"","x":359,"y":732,"wires":[["61a1aca.a57e354"]]},{"id":"a647256c.532be8","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":37,"width":"4","height":"1","passthru":false,"label":"Sky radio hits expert","color":"","bgcolor":"","icon":"","payload":"play 38","payloadType":"str","topic":"","x":348,"y":767,"wires":[["61a1aca.a57e354"]]},{"id":"be8592f0.8afd5","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":38,"width":"4","height":"1","passthru":false,"label":"Sky radio stretch & relax","color":"","bgcolor":"","icon":"","payload":"play 39","payloadType":"str","topic":"","x":357,"y":803,"wires":[["61a1aca.a57e354"]]},{"id":"6b934464.5938ec","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":39,"width":"4","height":"1","passthru":false,"label":"Sky radio pop-up","color":"","bgcolor":"","icon":"","payload":"play 40","payloadType":"str","topic":"","x":338,"y":838,"wires":[["61a1aca.a57e354"]]},{"id":"4b18e0cb.afe82","type":"mpd in","z":"30c668a.ce70298","name":"","topic":"","server":"2d6957e2.8b3dc8","x":69,"y":96,"wires":[["af2b220e.fd653","464454b.d29b4ac","bb24a23a.2e5b8"]]},{"id":"8c5aa1b3.fd55e","type":"debug","z":"30c668a.ce70298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":360,"wires":[]},{"id":"9e032f0a.60187","type":"comment","z":"30c668a.ce70298","name":"Documentation / Prerequisites","info":"This flow is copy pasted from node red flow:\nhttps://flows.nodered.org/flow/e89b677113a337e076cb235f6312f638\n\nThis flow requires that *Music Player Daemon* (mpd) is installed and the the `radio.m3u` playlist is created.\n\nNote that I didn't create `radio.m3u` in folder `/home/pi/webradio/` but in folder `/var/lib/mpd/playlists/`\n","x":300,"y":20,"wires":[]},{"id":"41c27f3e.2465f","type":"debug","z":"5b86f131.058e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":260,"wires":[]},{"id":"e784ea1e.f3b6e8","type":"file in","z":"5b86f131.058e3","name":"","filename":"/home/pi/tmp/test.txt","format":"utf8","chunk":false,"sendError":false,"x":160,"y":260,"wires":[["d4752271.16798","71786e81.8b026"]]},{"id":"37300ade.1f4fe6","type":"inject","z":"5b86f131.058e3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":182,"wires":[["e784ea1e.f3b6e8"]]},{"id":"d4752271.16798","type":"change","z":"5b86f131.058e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(payload,\"\\n\\n\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["41c27f3e.2465f"]]},{"id":"71786e81.8b026","type":"debug","z":"5b86f131.058e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":320,"wires":[]},{"id":"16703345.888dcd","type":"inject","z":"cc99810d.fdcb8","name":"initialisation at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":80,"wires":[["97135670.acdd88"]]},{"id":"97135670.acdd88","type":"change","z":"cc99810d.fdcb8","name":"initialize flow variables","rules":[{"t":"set","p":"aircon_is_on","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"aircon_last_switch_tms","pt":"flow","to":"0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[[]]},{"id":"3f26e3af.245a1c","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["cd981b11.6bac88"]]},{"id":"d7ffb888.3cd648","type":"comment","z":"cc99810d.fdcb8","name":"inject nodes simulating the DS18b20 sensor output","info":"","x":210,"y":140,"wires":[]},{"id":"d0544032.848e","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["cd981b11.6bac88"]]},{"id":"995c2849.57d9f8","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["cd981b11.6bac88"]]},{"id":"f6cee931.a62e78","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["cd981b11.6bac88"]]},{"id":"3dcf7adb.db0d66","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["cd981b11.6bac88"]]},{"id":"76d055f9.3878dc","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["cd981b11.6bac88"]]},{"id":"7698406b.1ca73","type":"change","z":"cc99810d.fdcb8","name":"set flow context and payload to switch off aircon","rules":[{"t":"set","p":"aircon_is_on","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"aircon_last_switch_tms","pt":"flow","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":220,"wires":[["7d3fbf47.1bc7a"]]},{"id":"cd981b11.6bac88","type":"switch","z":"cc99810d.fdcb8","name":"aircon is on ?","property":"aircon_is_on","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":300,"wires":[["ea9a6fa9.67ae5"],["fc9c4632.967d78"]]},{"id":"ea9a6fa9.67ae5","type":"switch","z":"cc99810d.fdcb8","name":"temp <= 20 ?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":220,"wires":[["7698406b.1ca73"]]},{"id":"7d3fbf47.1bc7a","type":"debug","z":"cc99810d.fdcb8","name":"aircon command to switch it on / off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1400,"y":280,"wires":[]},{"id":"fc9c4632.967d78","type":"switch","z":"cc99810d.fdcb8","name":"temp >= 25 ?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":320,"wires":[["78c00f1f.7f943"]]},{"id":"78c00f1f.7f943","type":"switch","z":"cc99810d.fdcb8","name":"switch on / off more than 10 minutes ago ?","property":"($toMillis($now())-$flowContext(\"aircon_last_switch_tms\")) > (10*60*1000)","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":380,"wires":[["c5c075a6.a039b8"]]},{"id":"c5c075a6.a039b8","type":"change","z":"cc99810d.fdcb8","name":"set flow context and payload to switch on aircon","rules":[{"t":"set","p":"aircon_is_on","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"aircon_last_switch_tms","pt":"flow","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":380,"wires":[["7d3fbf47.1bc7a"]]},{"id":"a8acfa78.442cd8","type":"debug","z":"cc99810d.fdcb8","name":"flow.aircon_last_switch_tms  (in milli seconds since 1970)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":540,"wires":[]},{"id":"e6dec5ed.6e6d78","type":"inject","z":"cc99810d.fdcb8","name":"flow.aircon_last_switch_tms","topic":"","payload":"aircon_last_switch_tms","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["a8acfa78.442cd8","b8c55cf8.7f1fe"]]},{"id":"2a2df95.069e206","type":"debug","z":"cc99810d.fdcb8","name":"flow.aircon_last_switch_tms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":600,"wires":[]},{"id":"b8c55cf8.7f1fe","type":"change","z":"cc99810d.fdcb8","name":"$fromMillis(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$fromMillis(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":600,"wires":[["2a2df95.069e206"]]},{"id":"ff677399.2c529","type":"comment","z":"cc99810d.fdcb8","name":"test nodes to check the aircon flow context variables","info":"","x":227,"y":462,"wires":[]},{"id":"4a49b01b.1db3","type":"inject","z":"cc99810d.fdcb8","name":"","topic":"","payload":"aircon_is_on","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":499,"wires":[["2497d1be.1155ce"]]},{"id":"2497d1be.1155ce","type":"debug","z":"cc99810d.fdcb8","name":"flow.aircon_is_on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":500,"wires":[]},{"id":"14796044.a8c56","type":"comment","z":"cc99810d.fdcb8","name":"output to switch on /off aircon","info":"","x":1360,"y":100,"wires":[]},{"id":"3411ff23.37aa1","type":"comment","z":"cc99810d.fdcb8","name":"aircon flow context variables","info":"This flow makes use of 2 flow context variables:\n1. *aircon_is_on* : is a boolean indicating if the aircon is currently switched on or off.\n2. *aircon_last_switch_tms* : is a timestamp (expressed in number of milli seconds since 1970) of the last time the aircon has been switch on or off.","x":453,"y":26,"wires":[]},{"id":"82e91e9c.6221c","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":140,"wires":[[]]},{"id":"4e40aeca.9c796","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":60,"wires":[[]]},{"id":"a015e8a.f41ae18","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":100,"wires":[[]]},{"id":"32f33314.631d3c","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":220,"wires":[[]]},{"id":"93d51726.2e62f8","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"","order":7,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":180,"wires":[[]]},{"id":"69f9c45d.58d43c","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"on","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":260,"wires":[["ee4b665e.b7d988"]]},{"id":"b9faea57.6f8f88","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"off","order":9,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":230,"y":300,"wires":[[]]},{"id":"1f507063.45cb4","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"stuff","order":10,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":110,"y":60,"wires":[[]]},{"id":"93e47e90.ed9d","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"radio button list","order":6,"width":"5","height":"14","format":"<md-list>\n    <md-list-item ng-repeat=\"radio in msg.payload \">\n           <md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   \n                      ng-click=\"send({payload: radio.stream })\"> \n              {{radio.name}}<br/>{{radio.stream}}\n           </md-button> \n    </md-list-item>\n</md-list>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":440,"wires":[["a192ccfd.68966"]]},{"id":"58c8da0d.e77464","type":"inject","z":"e91786ef.6ee968","name":"radiolist","topic":"","payload":"[{\"name\":\"radio1\",\"stream\":\"http:\\\\.1..\"},{\"name\":\"radio2\",\"stream\":\"http:\\\\.2..\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[[]]},{"id":"a192ccfd.68966","type":"debug","z":"e91786ef.6ee968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":440,"wires":[]},{"id":"ee4b665e.b7d988","type":"debug","z":"e91786ef.6ee968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":260,"wires":[]},{"id":"6c76a8b2.bc18e8","type":"ui_button","z":"e91786ef.6ee968","name":"","group":"3c3e40bc.f4f7a","order":1,"width":0,"height":0,"passthru":false,"label":"Add","color":"","bgcolor":"","icon":"","payload":"inc","payloadType":"str","topic":"","x":170,"y":640,"wires":[["390cbb08.c22384"]]},{"id":"5673ffe4.4a098","type":"ui_button","z":"e91786ef.6ee968","name":"","group":"3c3e40bc.f4f7a","order":2,"width":0,"height":0,"label":"Remove","color":"","icon":"","payload":"dec","payloadType":"str","topic":"","x":160,"y":680,"wires":[["390cbb08.c22384"]]},{"id":"1612dbed.5e3594","type":"ui_text","z":"e91786ef.6ee968","group":"3c3e40bc.f4f7a","order":3,"width":0,"height":0,"name":"","label":"Item count","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":620,"wires":[]},{"id":"390cbb08.c22384","type":"function","z":"e91786ef.6ee968","name":"inc/dec","func":"var count = flow.get('nodeCount') || 0;\n\nif (msg.payload==\"inc\")\n{\n    count++;\n} else if (msg.payload==\"dec\")\n{\n    if (count>0) count--;\n}\n\nflow.set('nodeCount',count);\n\nmsg.payload=count;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":640,"wires":[["1612dbed.5e3594","515b9d4b.4629c4"]]},{"id":"515b9d4b.4629c4","type":"function","z":"e91786ef.6ee968","name":"list gen","func":"var count = msg.payload;\nvar xxx=[];\nfor(i=0; i<count; i++)\n{\n    xxx.push({\n        text: \"Item \"+(i+1),\n        payload: (i+1)\n    });\n}\nmsg.payload=xxx;\nmsg.w=6;\nmsg.h=count;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":660,"wires":[["f681aae6.d76e38"]]},{"id":"3cc4acd5.282e54","type":"inject","z":"e91786ef.6ee968","name":"","topic":"","payload":"1st run","payloadType":"str","repeat":"","crontab":"","once":true,"x":170,"y":600,"wires":[["390cbb08.c22384"]]},{"id":"f681aae6.d76e38","type":"ui_template","z":"e91786ef.6ee968","group":"3c3e40bc.f4f7a","name":"","order":4,"width":"0","height":"0","format":"<md-card ui-card-size=\"{{msg.w}}x{{msg.h}}\">\n\n<div ng-repeat=\"xxx in msg.payload\">\n<md-card ui-card-size=\"{{msg.w}}x1\">\n<md-button ng-click=\"send({payload: xxx.payload})\">\n    {{xxx.text}}\n</md-button>\n</md-card>\n</div>\n\n</md-card>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":680,"y":660,"wires":[["f89a9e89.4a97e"]]},{"id":"afc24439.d4c638","type":"ui_button","z":"e91786ef.6ee968","name":"","group":"3c3e40bc.f4f7a","order":5,"width":0,"height":0,"label":"do nothing","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":720,"wires":[[]]},{"id":"f89a9e89.4a97e","type":"ui_toast","z":"e91786ef.6ee968","position":"top right","displayTime":"3","name":"","x":870,"y":660,"wires":[]},{"id":"95ff3921.683078","type":"comment","z":"e91786ef.6ee968","name":"dynamic dashboard button list","info":"","x":220,"y":560,"wires":[]},{"id":"75466b21.24aea4","type":"csv","z":"e91786ef.6ee968","name":"csv 2 json","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":660,"y":360,"wires":[["1d7d71b9.516a1e","93e47e90.ed9d","7c23957f.d055cc"]]},{"id":"75b66542.2fcaac","type":"function","z":"e91786ef.6ee968","name":"radiolist in csv format","func":"msg.payload = `name, stream \nradio1,http://icecast.omroep.nl\nradio2,http://stream.radio10.nl/radio10\nradio3,http://icecast-qmusic.cdp.triple-it.nl/Qmusic_nl_live_32.aac\nradio4,http://icecast.omroep.nl/radio1-bb-aac`\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["75466b21.24aea4"]]},{"id":"1d7d71b9.516a1e","type":"debug","z":"e91786ef.6ee968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":320,"wires":[]},{"id":"e399b565.a9e598","type":"inject","z":"e91786ef.6ee968","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":360,"wires":[["75b66542.2fcaac"]]},{"id":"7c23957f.d055cc","type":"function","z":"e91786ef.6ee968","name":"add pos in array","func":"for (var i=0;i<msg.payload.length; i++){\n    msg.payload[i].stream= i.toString();\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["d6207b8c.51a2a8","8266d3cc.3d7cc"]]},{"id":"d6207b8c.51a2a8","type":"debug","z":"e91786ef.6ee968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":320,"wires":[]},{"id":"f885d965.628c28","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"","order":1,"width":0,"height":0,"format":"<div flex layout=\"row\" layout-align=\"space-around center\">\n    <md-button ng-repeat=\"b in buttons\" class=\"md-icon-button\" ng-click=\"click(b)\">\n        <ng-md-icon icon=\"{{msg.payload[b.payload]?b.icon2:b.icon}}\"\n                    ng-style=\"{color: msg.payload[b.payload]?b.color2:b.color}\"></ng-md-icon>\n    </md-button>\n</div>\n\n<script>\n    scope.buttons = [{\n        icon: 'pause', color: 'black',\n        icon2: 'play_arrow', color2: 'red',\n        payload: 'play',\n    }, {\n        icon: 'alarm', color: 'black',\n        icon2: 'alarm', color2: 'red',\n        payload: 'alarm',\n    }];\n    \n    scope.click = function(b) {\n        if (!this.msg) this.msg = {};\n        if (!this.msg.payload) this.msg.payload = {};\n        this.msg.payload[b.payload] = !this.msg.payload[b.payload];\n        this.send(this.msg);\n    }.bind(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":500,"wires":[["33c2bd4.a88ae42"]]},{"id":"33c2bd4.a88ae42","type":"debug","z":"e91786ef.6ee968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":500,"wires":[]},{"id":"d1e786e1.e1b998","type":"debug","z":"e91786ef.6ee968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":120,"wires":[]},{"id":"8266d3cc.3d7cc","type":"ui_template","z":"e91786ef.6ee968","group":"85e43473.bdc0b8","name":"radio jan 2","order":11,"width":0,"height":0,"format":"<div flex layout=\"row\" layout-align=\"space-around center\">\n    <md-button ng-repeat=\"b in msg.payload\" class=\"md-icon-button\" ng-click=\"click(b)\">\n            {{ b.name}}\n    </md-button>\n</div>\n\n<script>\n    scope.click = function(b) {\n        if (!this.msg) this.msg = {};\n        this.msg.payload = b.pos;\n        this.send(this.msg);\n    }.bind(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":120,"wires":[["d1e786e1.e1b998"]]},{"id":"8ab1886c.7bbe08","type":"ui_button","z":"293b0356.254d6c","name":"","group":"3c3e40bc.f4f7a","order":6,"width":0,"height":0,"passthru":false,"label":"Add","color":"","bgcolor":"","icon":"","payload":"inc","payloadType":"str","topic":"","x":150,"y":540,"wires":[["a33f7f67.3fd52"]]},{"id":"b181d116.9e456","type":"ui_button","z":"293b0356.254d6c","name":"","group":"3c3e40bc.f4f7a","order":7,"width":0,"height":0,"label":"Remove","color":"","icon":"","payload":"dec","payloadType":"str","topic":"","x":140,"y":580,"wires":[["a33f7f67.3fd52"]]},{"id":"4bc65dc7.93a684","type":"ui_text","z":"293b0356.254d6c","group":"3c3e40bc.f4f7a","order":8,"width":0,"height":0,"name":"","label":"Item count","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":520,"wires":[]},{"id":"a33f7f67.3fd52","type":"function","z":"293b0356.254d6c","name":"inc/dec","func":"var count = flow.get('nodeCount') || 0;\n\nif (msg.payload==\"inc\")\n{\n    count++;\n} else if (msg.payload==\"dec\")\n{\n    if (count>0) count--;\n}\n\nflow.set('nodeCount',count);\n\nmsg.payload=count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["4bc65dc7.93a684","9c7133ee.444e4"]]},{"id":"9c7133ee.444e4","type":"function","z":"293b0356.254d6c","name":"list gen","func":"var count = msg.payload;\nvar xxx=[];\nfor(i=0; i<count; i++)\n{\n    xxx.push({\n        text: \"Item \"+(i+1),\n        payload: (i+1)\n    });\n}\nmsg.payload=xxx;\nmsg.w=6;\nmsg.h=count;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["c7f05d3a.66d2c"]]},{"id":"f956460b.ea2058","type":"inject","z":"293b0356.254d6c","name":"","topic":"","payload":"1st run","payloadType":"str","repeat":"","crontab":"","once":true,"x":150,"y":500,"wires":[["a33f7f67.3fd52"]]},{"id":"c7f05d3a.66d2c","type":"ui_template","z":"293b0356.254d6c","group":"3c3e40bc.f4f7a","name":"","order":9,"width":"0","height":"0","format":"<md-card ui-card-size=\"{{msg.w}}x{{msg.h}}\">\n\n<div ng-repeat=\"xxx in msg.payload\">\n<md-card ui-card-size=\"{{msg.w}}x1\">\n<md-button ng-click=\"send({payload: xxx.payload})\">\n    {{xxx.text}}\n</md-button>\n</md-card>\n</div>\n\n</md-card>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":660,"y":560,"wires":[["d27b4bc8.87bd58"]]},{"id":"ba3efa28.563098","type":"ui_button","z":"293b0356.254d6c","name":"","group":"3c3e40bc.f4f7a","order":10,"width":0,"height":0,"label":"do nothing","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":620,"wires":[[]]},{"id":"d27b4bc8.87bd58","type":"ui_toast","z":"293b0356.254d6c","position":"top right","displayTime":"3","name":"","x":850,"y":560,"wires":[]},{"id":"4b6818e2.59a158","type":"comment","z":"293b0356.254d6c","name":"dynamic dashboard button list","info":"","x":200,"y":460,"wires":[]},{"id":"2a5c73bd.d2539c","type":"inject","z":"293b0356.254d6c","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["e469a44c.17b048","37d2b230.9ec0fe"]]},{"id":"e469a44c.17b048","type":"function","z":"293b0356.254d6c","name":"radiolist in csv format","func":"msg.payload = `name, stream \nradio 10,http://stream.radio10.nl/radio10\nq-music,http://icecast-qmusic.cdp.triple-it.nl/Qmusic_nl_live_32.aac\nradio 1,http://icecast.omroep.nl/radio1-bb-aac\nradio 2,http://icecast.omroep.nl/radio2-bb-aac\n3fm,http://icecast.omroep.nl/3fm-bb-aac\n3fm alternative,http://icecast.omroep.nl/3fm-alternative-aac\n3fm talent,http://icecast.omroep.nl/3fm-serioustalent-aac\nradio 4,http://icecast.omroep.nl/radio4-bb-aac\nradio 4 eigentijds,http://icecast.omroep.nl/radio4-eigentijds-aac\nradio 5,http://icecast.omroep.nl/radio5-bb-aac\nradio 6,http://icecast.omroep.nl/radio6-bb-aac\nradio 538,http://18973.live.streamtheworld.com/RADIO538.mp3\nq-music limburg,http://icecast-qmusic.cdp.triple-it.nl/Qmusic_nl_qlmb_64.aac\nWild radio,http://radio.wildhitradio.nl/wildfm.mp3\n100% NL,http://17873.live.streamtheworld.com/100PNL_MP3_SC?\nweb03,http://18973.live.streamtheworld.com/WEB03_MP3_SC?\n#Pophits,http://streaming206.radionomy.com:80/-Pophits\n101 Smooth Jazz,http://streaming206.radionomy.com:80/101SMOOTHJAZZ\nABC Lounge,http://streaming206.radionomy.com:80/ABC-Lounge\nHit radio,http://streaming14.tdiradio.com:8000/hit\nTop 20 radio,http://streaming206.radionomy.com:80/-TOP20-Radio`;\n\nreturn msg;\n\n/*\nvar todo =`\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SKYRADIOAAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR01AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR02AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR03AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR04AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR05AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR06AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR19AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR07AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR15AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR16AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR20AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR08AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR17AAC.aac\nhttp://playerservices.streamtheworld.com/api/livestream-redirect/SRGSTR21AAC.aac\n`\n*/","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["93a4e9ba.7e5b18"]]},{"id":"93a4e9ba.7e5b18","type":"csv","z":"293b0356.254d6c","name":"csv 2 json","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":460,"y":100,"wires":[["896c85af.412738","a5e53559.6ba898","e174dced.48d8"]]},{"id":"896c85af.412738","type":"debug","z":"293b0356.254d6c","name":"radiolist json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":60,"wires":[]},{"id":"a5e53559.6ba898","type":"function","z":"293b0356.254d6c","name":"add pos in array","func":"for (var i=0;i<msg.payload.length; i++){\n    msg.payload[i].pos= i;\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["3f106ea8.b36592","af865755.a0fb98"]]},{"id":"3f106ea8.b36592","type":"debug","z":"293b0356.254d6c","name":"radiolist with pos(ition)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":60,"wires":[]},{"id":"5a4d7549.28a00c","type":"ui_template","z":"293b0356.254d6c","group":"aad71200.93921","name":"radio button list","order":1,"width":"0","height":"0","format":"<md-card ui-card-size=\"{{msg.w}}x{{msg.h}}\">\n\n<div ng-repeat=\"xxx in msg.payload\">\n<md-card ui-card-size=\"{{msg.w}}x1\">\n<md-button ng-click=\"send({payload: xxx.pos})\">\n    {{xxx.name}}\n</md-button>\n</md-card>\n</div>\n\n</md-card>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":880,"y":140,"wires":[["1ecd0f88.cec4f","544dd5e1.7fee7c"]]},{"id":"1ecd0f88.cec4f","type":"debug","z":"293b0356.254d6c","name":"radio button list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1000,"y":100,"wires":[]},{"id":"af865755.a0fb98","type":"change","z":"293b0356.254d6c","name":"set width and height","rules":[{"t":"set","p":"w","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"h","pt":"msg","to":"$count(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":140,"wires":[["5a4d7549.28a00c"]]},{"id":"e1718dda.17a8","type":"mpd out","z":"293b0356.254d6c","name":"","topic":"","server":"2d6957e2.8b3dc8","x":860,"y":220,"wires":[["268ae32.fecf71c"]]},{"id":"268ae32.fecf71c","type":"debug","z":"293b0356.254d6c","name":"mpd output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":220,"wires":[]},{"id":"544dd5e1.7fee7c","type":"change","z":"293b0356.254d6c","name":"play <payload.pos>","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"play \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["e1718dda.17a8"]]},{"id":"e174dced.48d8","type":"split","z":"293b0356.254d6c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":300,"wires":[["4ea583e9.8fd83c","52ebbd76.553584"]]},{"id":"4ea583e9.8fd83c","type":"debug","z":"293b0356.254d6c","name":"radio channel","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":260,"wires":[]},{"id":"37d2b230.9ec0fe","type":"change","z":"293b0356.254d6c","name":"msg.payload = clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["e1718dda.17a8"]]},{"id":"52ebbd76.553584","type":"change","z":"293b0356.254d6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"add \" & payload.stream","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["e1718dda.17a8","b7e9ceef.3d1c5"]]},{"id":"b7e9ceef.3d1c5","type":"debug","z":"293b0356.254d6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":300,"wires":[]},{"id":"21763c4e.197a84","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"puur vlaams","color":"","bgcolor":"","icon":"","payload":"play 41","payloadType":"str","topic":"","x":70,"y":880,"wires":[["61a1aca.a57e354"]]},{"id":"fb6b10c5.fb1d","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"VRT radio 1","color":"","bgcolor":"","icon":"","payload":"play 42","payloadType":"str","topic":"","x":310,"y":880,"wires":[["61a1aca.a57e354"]]},{"id":"983d68d.baf2e98","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"VRT Radio 2 Antwerpen","color":"","bgcolor":"","icon":"","payload":"play 43","payloadType":"str","topic":"","x":110,"y":920,"wires":[["61a1aca.a57e354"]]},{"id":"98a4f2f1.c8a79","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"VRT Klara","color":"","bgcolor":"","icon":"","payload":"play 44","payloadType":"str","topic":"","x":310,"y":920,"wires":[["61a1aca.a57e354"]]},{"id":"bf467360.01831","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"Studio Brussel","color":"","bgcolor":"","icon":"","payload":"play 45","payloadType":"str","topic":"","x":80,"y":957,"wires":[["61a1aca.a57e354"]]},{"id":"f828c562.815e98","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"Studio Brussel - de Tijdloze","color":"","bgcolor":"","icon":"","payload":"play 46","payloadType":"str","topic":"","x":360,"y":960,"wires":[["61a1aca.a57e354"]]},{"id":"28a29955.b2caa6","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"MNM","color":"","bgcolor":"","icon":"","payload":"play 47","payloadType":"str","topic":"","x":50,"y":1000,"wires":[["61a1aca.a57e354"]]},{"id":"9a659169.81e46","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"MNM UrbaNice","color":"","bgcolor":"","icon":"","payload":"play 48","payloadType":"str","topic":"","x":320,"y":1000,"wires":[["61a1aca.a57e354"]]},{"id":"47ec3166.43de5","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"MNM Hits","color":"","bgcolor":"","icon":"","payload":"play 49","payloadType":"str","topic":"","x":60,"y":1040,"wires":[["61a1aca.a57e354"]]},{"id":"8dffd112.4a6a7","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"Ketnet hits","color":"","bgcolor":"","icon":"","payload":"play 50","payloadType":"str","topic":"","x":310,"y":1040,"wires":[["61a1aca.a57e354"]]},{"id":"1f18fa46.9772c6","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"VRT nieuws","color":"","bgcolor":"","icon":"","payload":"play 51","payloadType":"str","topic":"","x":70,"y":1080,"wires":[["61a1aca.a57e354"]]},{"id":"978eca28.e0a658","type":"ui_button","z":"30c668a.ce70298","name":"","group":"338ef57d.fc913a","order":20,"width":"4","height":"1","passthru":false,"label":"liveIreland","color":"","bgcolor":"","icon":"","payload":"play 52","payloadType":"str","topic":"","x":310,"y":1080,"wires":[["61a1aca.a57e354"]]},{"id":"309fea59.2c3916","type":"ui_slider","z":"30c668a.ce70298","name":"","label":"vol: ","group":"1d184886.a05177","order":9,"width":"6","height":"1","passthru":false,"topic":"","min":0,"max":"100","step":"2","x":1170,"y":880,"wires":[["1636f32c.64b50d"]]},{"id":"1636f32c.64b50d","type":"change","z":"30c668a.ce70298","name":"\"setvol \" & payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"setvol \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":880,"wires":[["61a1aca.a57e354"]]},{"id":"721410.baf10bf","type":"change","z":"30c668a.ce70298","name":"return msg.payload.status.volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status.volume","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":880,"wires":[["309fea59.2c3916"]]},{"id":"464454b.d29b4ac","type":"switch","z":"30c668a.ce70298","name":"payload.status.volume is specified ?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$exists(payload.status.volume)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":940,"wires":[["79db9bf7.c154d4","721410.baf10bf"]]},{"id":"bb24a23a.2e5b8","type":"switch","z":"30c668a.ce70298","name":"payload.status.state is specified ?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$exists(payload.status.state)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":120,"wires":[["2920848a.7b6f2c"]]},{"id":"2920848a.7b6f2c","type":"change","z":"30c668a.ce70298","name":"","rules":[{"t":"set","p":"mpd_state","pt":"global","to":"payload.status.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[[]]},{"id":"cce92b64.eda5d8","type":"switch","z":"61ade063.a538d","name":"radio (mpd) playing ?","property":"mpd_state","propertyType":"global","rules":[{"t":"eq","v":"play","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":140,"wires":[["e530d9b2.4c90c8"],["a81b0d8c.951c2"]]},{"id":"e530d9b2.4c90c8","type":"link out","z":"61ade063.a538d","name":"","links":["823050b4.11e0b"],"x":1095,"y":120,"wires":[]},{"id":"823050b4.11e0b","type":"link in","z":"30c668a.ce70298","name":"mpd pause","links":["e530d9b2.4c90c8"],"x":815,"y":800,"wires":[["b3962fdf.68bbe","cdb60ff9.824f4"]]},{"id":"cdb60ff9.824f4","type":"debug","z":"30c668a.ce70298","name":"link","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":740,"wires":[]},{"id":"17ada204.1dcbfe","type":"ui_template","z":"c80026d.bb0ccd8","group":"b6487da3.a72","name":"link to google forms url","order":0,"width":0,"height":0,"format":"<a href=\"https://goo.gl/forms/KRp2NY06114ZUmrv1\">de mollen form</a>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":60,"wires":[[]]},{"id":"da9d5d2c.521a3","type":"function","z":"c80026d.bb0ccd8","name":"generate vrijstellingscodes","func":"// regex ^[148][279][328][560][478]$\nvar ar1 = [\"1\", \"4\", \"8\"];\nvar ar2 = [\"2\", \"7\", \"9\"];\nvar ar3 = [\"3\", \"2\", \"8\"];\nvar ar4 = [\"5\", \"6\", \"0\"];\nvar ar5 = [\"4\", \"7\", \"8\"];\nvar j=0;\n\nmsg.payload=\"\";\n\nfor (var i1=0;i1<3; i1++){\n    for (var i2=0;i2<3; i2++){\n      for (var i3=0;i3<3; i3++){  \n        for (var i4=0;i4<3; i4++){      \n          for (var i5=0;i5<3; i5++){\n              msg.payload +=  ar1[i1]+ar2[i2]+ar3[i3]+ar4[i4]+ar5[i5]+\",\";\n              j++;\n              if (j===5){\n                  msg.payload += \"\\n\";\n                  j=0;\n              }\n          }\n        }\n      }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["3c9a2c81.dcb2b4","b61e2a77.12a738"]]},{"id":"f48aec60.7036b","type":"inject","z":"c80026d.bb0ccd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":232,"wires":[["da9d5d2c.521a3"]]},{"id":"3c9a2c81.dcb2b4","type":"debug","z":"c80026d.bb0ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":200,"wires":[]},{"id":"b61e2a77.12a738","type":"file","z":"c80026d.bb0ccd8","name":"","filename":"/home/pi/tmp/vrijstellingcodes.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","x":680,"y":280,"wires":[]},{"id":"816a54c2.7ab588","type":"debug","z":"4947b33d.b20e6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":160,"wires":[]},{"id":"5b19f2e0.bf04bc","type":"websocket in","z":"4947b33d.b20e6c","name":"","server":"a6142ff1.7a402","client":"","x":240,"y":280,"wires":[["816a54c2.7ab588","3964e298.b3258e"]]},{"id":"1c99a69f.bac779","type":"websocket out","z":"4947b33d.b20e6c","name":"","server":"a6142ff1.7a402","client":"","x":550,"y":360,"wires":[]},{"id":"59d96b67.c12874","type":"inject","z":"4947b33d.b20e6c","name":"event { hallo : ... }","topic":"","payload":"{\"event\":\"hallo\",\"value\":\"dit is de value\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":360,"wires":[["c311a308.33e35","1c99a69f.bac779"]]},{"id":"c311a308.33e35","type":"debug","z":"4947b33d.b20e6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":440,"wires":[]},{"id":"e4f5026e.9c8e8","type":"inject","z":"4947b33d.b20e6c","name":"event { echo : ... }","topic":"","payload":"{\"event\":\"echo\",\"value\":\"dit is de value\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":440,"wires":[["1c99a69f.bac779"]]},{"id":"3964e298.b3258e","type":"change","z":"4947b33d.b20e6c","name":"","rules":[{"t":"set","p":"_session","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"event\":\"echo\",\"value\":\"dit is de value\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["f249a906.43a3d8","1c99a69f.bac779"]]},{"id":"f249a906.43a3d8","type":"debug","z":"4947b33d.b20e6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":180,"wires":[]},{"id":"ef26078c.525f78","type":"ui_button","z":"43ce3980.981b18","name":"","group":"373372ff.80ad0e","order":0,"width":0,"height":0,"passthru":false,"label":"pulsating button","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":580,"y":100,"wires":[[]]},{"id":"e39d394c.e9e118","type":"inject","z":"43ce3980.981b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":100,"wires":[["ab189495.473df8"]]},{"id":"ab189495.473df8","type":"switch","z":"43ce3980.981b18","name":"","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":100,"wires":[["ef26078c.525f78"]]},{"id":"75a36ee7.1650e","type":"switch","z":"43ce3980.981b18","name":"","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"yellow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["ef26078c.525f78"]]},{"id":"cab7a9d1.092c18","type":"inject","z":"43ce3980.981b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":287,"y":145,"wires":[["75a36ee7.1650e"]]},{"id":"a13ecf0.ede9f3","type":"inject","z":"4947b33d.b20e6c","name":"rain","topic":"","payload":"{\"event\":\"rain\",\"value\":\"dit is de value\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":540,"wires":[["1c99a69f.bac779"]]},{"id":"72bf95bb.d82a5c","type":"inject","z":"4947b33d.b20e6c","name":"sunny","topic":"","payload":"{\"event\":\"sunny\",\"value\":\"dit is de value\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":580,"wires":[["1c99a69f.bac779"]]}]