flows_pi3three.json
[{"id":"e3cf3242.7aad","type":"tab","label":"voicehat LED","disabled":false,"info":""},{"id":"37312499.e9d2ac","type":"tab","label":"tts dutch","disabled":false,"info":""},{"id":"2cda7691.971baa","type":"tab","label":"CPU temp","disabled":false,"info":""},{"id":"b11ec8ac.da9968","type":"tab","label":"mic / speaker Flow 1","disabled":true,"info":""},{"id":"2de352c6.5318ae","type":"tab","label":"snowboy","disabled":true,"info":""},{"id":"368b08cc.ef5328","type":"tab","label":"snowboy test","disabled":true,"info":""},{"id":"2aebc689.775a9a","type":"tab","label":"tts Flow 3","disabled":true,"info":""},{"id":"84dcea7d.a77bc8","type":"tab","label":"Flow 4 tts","disabled":true,"info":""},{"id":"f85b148c.c4a778","type":"tab","label":"Flow 5 stt","disabled":true,"info":""},{"id":"c1280055.15daf","type":"emoncms-server","z":"","server":"http://emoncms.org","name":"my emoncms.org"},{"id":"1e7ccd18.7e8833","type":"mqtt-broker","z":"","broker":"192.168.1.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2779b89f.68b2d8","type":"Mic","z":"b11ec8ac.da9968","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"0","exitOnSilence":"false","debug":"true","active":true,"x":323,"y":76,"wires":[["4323d7d.e22fa28","a066f835.c5c418"]]},{"id":"4323d7d.e22fa28","type":"debug","z":"b11ec8ac.da9968","name":"","active":true,"console":"false","complete":"true","x":494,"y":29,"wires":[]},{"id":"d203a374.1efe2","type":"speakerpi-output","z":"b11ec8ac.da9968","choose":"givenfile","filename":"/home/pi/tmp/recorded_audio.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":350,"y":264,"wires":[]},{"id":"22b6fa56.684696","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":46,"wires":[["2779b89f.68b2d8"]]},{"id":"1c1df717.a106c9","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":111,"wires":[["2779b89f.68b2d8"]]},{"id":"a066f835.c5c418","type":"file","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/test.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":564,"y":75,"wires":[]},{"id":"5b5d944a.d84dcc","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":126,"y":265,"wires":[["d203a374.1efe2"]]},{"id":"c00c92.e670937","type":"play audio","z":"b11ec8ac.da9968","name":"","voice":"0","x":578,"y":180,"wires":[]},{"id":"b625c425.61a1b8","type":"file in","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/recorded_audio.wav","format":"","chunk":false,"sendError":false,"x":328,"y":181,"wires":[["c00c92.e670937"]]},{"id":"34e43630.f3031a","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":182,"wires":[["b625c425.61a1b8"]]},{"id":"49fc38c2.4369a8","type":"speakerpi-output","z":"b11ec8ac.da9968","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"22050","name":"","x":891,"y":387,"wires":[]},{"id":"dd5dd3d4.91735","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":389,"wires":[["4d8dcef8.757cf"]]},{"id":"4d8dcef8.757cf","type":"file in","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/recorded_audio.wav","format":"","chunk":false,"sendError":false,"x":380,"y":385,"wires":[["65ffb67c.c14678"]]},{"id":"65ffb67c.c14678","type":"change","z":"b11ec8ac.da9968","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":646,"y":386,"wires":[["70a7eb2.1453414","49fc38c2.4369a8"]]},{"id":"70a7eb2.1453414","type":"debug","z":"b11ec8ac.da9968","name":"","active":true,"console":"false","complete":"true","x":738,"y":314,"wires":[]},{"id":"e6c84eaf.ededd","type":"Mic","z":"b11ec8ac.da9968","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"0","exitOnSilence":"false","debug":"true","active":true,"x":316,"y":634,"wires":[["7468953e.7449fc","6bbfbc2e.be98b4","a9acebea.305e98"]]},{"id":"7468953e.7449fc","type":"debug","z":"b11ec8ac.da9968","name":"","active":false,"console":"false","complete":"true","x":485,"y":585,"wires":[]},{"id":"7cb29fb0.4e485","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":602,"wires":[["e6c84eaf.ededd"]]},{"id":"ae73bb34.74ab28","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":667,"wires":[["e6c84eaf.ededd"]]},{"id":"6bbfbc2e.be98b4","type":"file","z":"b11ec8ac.da9968","name":"","filename":"/home/pi/tmp/recorded_audio2.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":437,"y":533,"wires":[]},{"id":"a9acebea.305e98","type":"change","z":"b11ec8ac.da9968","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":509,"y":673,"wires":[["844fedb1.ac9ea"]]},{"id":"844fedb1.ac9ea","type":"speakerpi-output","z":"b11ec8ac.da9968","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"11025","name":"","x":887,"y":677,"wires":[]},{"id":"e554bd79.1ce8b","type":"Mic","z":"368b08cc.ef5328","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"50","exitOnSilence":"true","debug":"false","active":true,"x":430,"y":460,"wires":[["94d7a050.0ab77","49b1cdcb.f034d4","4cc77297.5b070c"]]},{"id":"94d7a050.0ab77","type":"debug","z":"368b08cc.ef5328","name":"Mic output","active":false,"console":"false","complete":"true","x":590,"y":400,"wires":[]},{"id":"9e6b5c48.c74f9","type":"inject","z":"368b08cc.ef5328","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":520,"wires":[["264c4aeb.042706"]]},{"id":"d289f259.e91b","type":"file","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/recorded_audio.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":940,"y":320,"wires":[]},{"id":"55bcd0c8.663b5","type":"Snowboy","z":"368b08cc.ef5328","name":"","detectorFile":"/home/pi/snowboy/rpi/resources/common.res","models":[{"idxOutput":0,"nbOutputs":1,"hotwords":"snowboy","sensitivity":"0.9","file":"/home/pi/snowboy/rpi/resources/snowboy.umdl"}],"multipleOutput":"false","debug":"false","x":780,"y":460,"wires":[["268cf51f.60de0a","f982245b.857028"]]},{"id":"268cf51f.60de0a","type":"debug","z":"368b08cc.ef5328","name":"snowboy output","active":true,"console":"false","complete":"true","x":960,"y":400,"wires":[]},{"id":"4cc77297.5b070c","type":"switch","z":"368b08cc.ef5328","name":"event == end ","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"end","vt":"str"}],"checkall":"true","outputs":1,"x":590,"y":540,"wires":[["9e4c2907.4c20a8","951ca27f.717c7"]]},{"id":"f982245b.857028","type":"change","z":"368b08cc.ef5328","name":"status = recording","rules":[{"t":"set","p":"status","pt":"flow","to":"recording","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":440,"wires":[[]]},{"id":"bdedd4f.1c00b28","type":"debug","z":"368b08cc.ef5328","name":"STT output","active":true,"console":"false","complete":"transcription","x":1030,"y":720,"wires":[]},{"id":"9e4c2907.4c20a8","type":"debug","z":"368b08cc.ef5328","name":"","active":false,"console":"false","complete":"true","x":610,"y":500,"wires":[]},{"id":"82b9596d.35c6d8","type":"watson-speech-to-text","z":"368b08cc.ef5328","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"sElPPbBiqkOh","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":748,"y":721,"wires":[["bdedd4f.1c00b28","50106a6b.c0e0c4"]]},{"id":"a8708f52.6477e","type":"inject","z":"368b08cc.ef5328","name":"initialisation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["121e7645.353eaa","4392f24a.25c77c"]]},{"id":"431fefbf.25924","type":"file in","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/recorded_audio.wav","format":"","chunk":false,"sendError":false,"x":440,"y":720,"wires":[["82b9596d.35c6d8"]]},{"id":"e7692add.4cebb8","type":"inject","z":"368b08cc.ef5328","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":720,"wires":[["431fefbf.25924"]]},{"id":"a6694c90.8af8b","type":"speakerpi-output","z":"368b08cc.ef5328","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":974,"y":860,"wires":[]},{"id":"765d0790.a969e8","type":"change","z":"368b08cc.ef5328","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":728,"y":863,"wires":[["a6694c90.8af8b"]]},{"id":"121e7645.353eaa","type":"change","z":"368b08cc.ef5328","name":"status = waiting_for_wake_word","rules":[{"t":"set","p":"status","pt":"flow","to":"waiting_for_wake_word","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[[]]},{"id":"4a9c0148.5800c","type":"comment","z":"368b08cc.ef5328","name":"definition flow variables","info":"The following flow variables are defined:\n\n**mic_status**\n- *off* : microphone node is not started or stopped\n- *on* :  microphone node is started and producing output\n\n**status**\n- *stopped* : waiting until it becomes restarted\n- *waiting_for_wake_word* :\n- *recording* :\n- *recognizing* :\n","x":120,"y":20,"wires":[]},{"id":"b6756e4b.6e453","type":"change","z":"368b08cc.ef5328","name":"msg.payload = start ","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":380,"wires":[["e554bd79.1ce8b"]]},{"id":"49b1cdcb.f034d4","type":"switch","z":"368b08cc.ef5328","name":"switch status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"recording","vt":"str"},{"t":"eq","v":"waiting_for_wake_word","vt":"str"}],"checkall":"true","outputs":2,"x":590,"y":460,"wires":[["d289f259.e91b"],["55bcd0c8.663b5"]]},{"id":"a4f628ee.6f0f38","type":"change","z":"368b08cc.ef5328","name":"status=recognizing","rules":[{"t":"set","p":"status","pt":"flow","to":"recognizing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":560,"wires":[["431fefbf.25924"]]},{"id":"50106a6b.c0e0c4","type":"change","z":"368b08cc.ef5328","name":"status = waiting_for_wake_word","rules":[{"t":"set","p":"status","pt":"flow","to":"waiting_for_wake_word","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":800,"wires":[["8dac7397.f13ec"]]},{"id":"951ca27f.717c7","type":"switch","z":"368b08cc.ef5328","name":"switch on status","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"waiting_for_wake_word","vt":"str"},{"t":"eq","v":"recording","vt":"str"}],"checkall":"true","outputs":2,"x":780,"y":540,"wires":[["5e884b93.b7c894"],["a4f628ee.6f0f38"]]},{"id":"5e884b93.b7c894","type":"link out","z":"368b08cc.ef5328","name":"","links":["c743f9fa.cda658"],"x":975,"y":500,"wires":[]},{"id":"c743f9fa.cda658","type":"link in","z":"368b08cc.ef5328","name":"start recording","links":["88f4f74d.b3a978","5e884b93.b7c894"],"x":95,"y":380,"wires":[["b6756e4b.6e453"]]},{"id":"8dac7397.f13ec","type":"link out","z":"368b08cc.ef5328","name":"","links":["16f52546.e9794b"],"x":1115,"y":800,"wires":[]},{"id":"30a27147.515fde","type":"file in","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/t.wav","format":"","chunk":false,"sendError":false,"x":390,"y":800,"wires":[["765d0790.a969e8"]]},{"id":"69aae4d9.e33c3c","type":"inject","z":"368b08cc.ef5328","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":800,"wires":[["30a27147.515fde"]]},{"id":"4392f24a.25c77c","type":"file in","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/header16k.wav","format":"","chunk":false,"sendError":false,"x":360,"y":140,"wires":[["be6250be.28038","79c0cb05.1d1c44"]]},{"id":"be6250be.28038","type":"change","z":"368b08cc.ef5328","name":"","rules":[{"t":"set","p":"wav_header","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["14731e76.579192"]]},{"id":"79c0cb05.1d1c44","type":"debug","z":"368b08cc.ef5328","name":"wav header","active":true,"console":"false","complete":"payload","x":590,"y":100,"wires":[]},{"id":"264c4aeb.042706","type":"change","z":"368b08cc.ef5328","name":"","rules":[{"t":"set","p":"status","pt":"flow","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":520,"wires":[["e554bd79.1ce8b"]]},{"id":"16f52546.e9794b","type":"link in","z":"368b08cc.ef5328","name":"set wav header and restart","links":["8dac7397.f13ec"],"x":95,"y":220,"wires":[["14731e76.579192"]]},{"id":"21442538.82921a","type":"file","z":"368b08cc.ef5328","name":"","filename":"/home/pi/tmp/recorded_audio.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":600,"y":220,"wires":[]},{"id":"14731e76.579192","type":"change","z":"368b08cc.ef5328","name":"payload = wav_header","rules":[{"t":"set","p":"payload","pt":"msg","to":"wav_header","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["21442538.82921a","b6756e4b.6e453"]]},{"id":"a06a5107.e14ab","type":"micro-to-watson-speech-to-text-stream","z":"2aebc689.775a9a","name":"","silence":"2","treshold":0.1,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","device":"default","model":"en-US_BroadbandModel","x":379,"y":133,"wires":[["3c0d7bc8.cf04e4"]]},{"id":"d7abe4f9.441988","type":"inject","z":"2aebc689.775a9a","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":131,"y":103,"wires":[["a06a5107.e14ab"]]},{"id":"dc762044.778df","type":"inject","z":"2aebc689.775a9a","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":135,"y":170,"wires":[["a06a5107.e14ab"]]},{"id":"3c0d7bc8.cf04e4","type":"debug","z":"2aebc689.775a9a","name":"","active":true,"console":"false","complete":"true","x":621,"y":131,"wires":[]},{"id":"5ba58274.5be73c","type":"comment","z":"2aebc689.775a9a","name":"this is the node-red-contrib-wstt-stream node","info":"","x":399,"y":65,"wires":[]},{"id":"83fd34d9.efd298","type":"inject","z":"84dcea7d.a77bc8","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":102,"y":117,"wires":[["1ee7f267.49778e"]]},{"id":"decbbcb6.256d2","type":"inject","z":"84dcea7d.a77bc8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":108,"y":181,"wires":[["1ee7f267.49778e"]]},{"id":"bdc123b5.a4717","type":"debug","z":"84dcea7d.a77bc8","name":"","active":true,"console":"false","complete":"true","x":521,"y":149,"wires":[]},{"id":"7d6ff3c6.e4649c","type":"comment","z":"84dcea7d.a77bc8","name":"this is the node-red-contrib-wstt-stream node ??","info":"","x":341,"y":81,"wires":[]},{"id":"1ee7f267.49778e","type":"micro-to-watson-speech-to-text-stream","z":"84dcea7d.a77bc8","name":"","silence":"2","treshold":0.1,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","device":"default","model":"en-UK_BroadbandModel","x":319,"y":149,"wires":[["bdc123b5.a4717"]]},{"id":"c47e6752.bd7748","type":"http in","z":"f85b148c.c4a778","name":"","url":"/std","method":"get","upload":false,"swaggerDoc":"","x":102,"y":222,"wires":[["85bb5f4c.abef"]]},{"id":"b5963e12.ae39e","type":"http response","z":"f85b148c.c4a778","name":"","statusCode":"","headers":{},"x":738.0001678466797,"y":220,"wires":[]},{"id":"afe78ba8.a92518","type":"http request","z":"f85b148c.c4a778","name":"get Custom STT Token","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/customizations/e161d8f0-0578-11e7-94ad-3b2269260fbc/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":305.4999542236328,"y":323.0403747558594,"wires":[["5bdef76e.e76468"]]},{"id":"a2ce13ec.6966e","type":"debug","z":"f85b148c.c4a778","name":"","active":false,"console":"true","complete":"true","x":736.5001068115234,"y":322.1323547363281,"wires":[]},{"id":"85bb5f4c.abef","type":"http request","z":"f85b148c.c4a778","name":"get Standard STT Token","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":311.99998474121094,"y":220.99998474121094,"wires":[["c5c27240.74903"]]},{"id":"c5c27240.74903","type":"template","z":"f85b148c.c4a778","name":"Standard Watson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var model = \"ja-JP_NarrowbandModel\";  // Change to your own model\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': true,\n                'max_alternatives': 0,\n                'keywords': ['imposible', 'unavailable'],\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n\tvar message2 = {'action': 'stop'};\n\tvar index = 0;\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+evt.data);\n    if ( evt.data.indexOf(\"results\") >= 1) {\n        if (object[\"results\"][0][\"final\"] == true) {\n            printout(\n                object[\"results\"][0][\"alternatives\"][0][\"timestamps\"][0][2],\n                object[\"results\"][0][\"alternatives\"][0][\"confidence\"],\n                object[\"results\"][0][\"alternatives\"][0][\"transcript\"],\n                object[\"result_index\"]\n            );\n        };\n    };\n};\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    ws.send(JSON.stringify(message2));\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(time,confidence,text,i){\n\tparent.frame2.document.write(\n\t    \"<div style=\\\"text-align:left\\\" >\"\n\t    +i\n\t    +\" (\"+time+\") [\"\n\t    +Math.round(confidence*1000)/10+\"%]\"\n\t    +text+\n\t    \"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>Standard Watson STT Websocket Sample Application</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n</html>\n","x":545.0000152587891,"y":220.99998474121094,"wires":[["b5963e12.ae39e","a2ce13ec.6966e"]]},{"id":"3306a45f.824ecc","type":"http in","z":"f85b148c.c4a778","name":"","url":"/custom","method":"get","swaggerDoc":"","x":110.99998474121094,"y":323.99998474121094,"wires":[["afe78ba8.a92518"]]},{"id":"c3b54ad2.14f708","type":"comment","z":"f85b148c.c4a778","name":"Trigger","info":"","x":104.48893737792969,"y":159.04042053222656,"wires":[]},{"id":"5d335d5e.04cf24","type":"comment","z":"f85b148c.c4a778","name":"Transcription","info":"","x":534.4962921142578,"y":156.0477752685547,"wires":[]},{"id":"f36eae47.bf601","type":"comment","z":"f85b148c.c4a778","name":"output","info":"","x":721.4852752685547,"y":157.0477752685547,"wires":[]},{"id":"3de08e6.c5c5f72","type":"comment","z":"f85b148c.c4a778","name":"Authentication","info":"","x":295.99998474121094,"y":155.99998474121094,"wires":[]},{"id":"5bdef76e.e76468","type":"template","z":"f85b148c.c4a778","name":"Standard Watson STT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script type=\"text/javascript\">\n    var token = \"{{payload}}\";\n    var customid = \"e161d8f0-0578-11e7-94ad-3b2269260fbc\"; //Change to your own customid\n    var model = \"ja-JP_NarrowbandModel\"; //Cange to your own model\n    var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +\n                token + '&customization_id=' + customid + '&model=' + model;\n    var message = { 'action': 'start',\n                'content-type': 'audio/wav',\n                'continuous': true,\n                'interim_results': true,\n                'inactivity_timeout': 6000,\n                'word_confidence': false,\n                'timestamps': false,\n                'max_alternatives': 0,\n                'keywords': ['できません', '不可能'], //Change to your own keywords\n                'keywords_threshold': 0.8,\n                'speaker_labels': true\n     };\n     \n\tvar message2 = {'action': 'stop'};\n\tvar index = 0;\n\tvar ws = new WebSocket(wsURI);\n    ws.onopen = function(evt) { onOpen(evt) };\n    ws.onmessage = function(evt) { onMessage(evt) };\n    ws.onclose = function(evt) { onClose(evt) };\n    ws.onerror = function(evt) { onError(evt) };\n\nfunction sendMessage() {\n    console.log(\"sendMessae\");\n    var file = parent.frame1.document.getElementById('file_input').files[0];\n\tvar reader = new FileReader();\n    reader.onload = function () {\n        ws.send(reader.result);\n    };\n    reader.readAsArrayBuffer(file);\n};\n\nfunction onOpen(evt) {\n    fileselection();\n    console.log(\"onOpen:\"+JSON.stringify(message));\n    ws.send(JSON.stringify(message));\n};\n\nfunction onClose(evt) {\n    console.log(\"onClose:\"+evt.code+evt.reason);\n    ws.close();\n};\n\nfunction onMessage(evt) {\n　 var object = JSON.parse(evt.data);\n   console.log(\"onMessage:\"+evt.data);\n    if ( evt.data.indexOf(\"results\") >= 1) {\n        if (object[\"results\"][0][\"final\"] == true) {\n            printout(\n                object[\"results\"][0][\"alternatives\"][0][\"timestamps\"][0][2],\n                object[\"results\"][0][\"alternatives\"][0][\"confidence\"],\n                object[\"results\"][0][\"alternatives\"][0][\"transcript\"],\n                object[\"result_index\"]\n            );\n        };\n    };\n};\nfunction onError(evt) {\n    console.log(\"onError:\"+evt.data);\n};\n\nfunction disconnect() {\n    ws.send(JSON.stringify(message2));\n    console.log(\"disconnect\");\n    ws.close();\n};\n\nfunction printout(time,confidence,text,i){\n\tparent.frame2.document.write(\n\t    \"<div style=\\\"text-align:left\\\" >\"\n\t    +i\n\t    +\" (\"+time+\") [\"\n\t    +Math.round(confidence*1000)/10+\"%]\"\n\t    +text+\n\t    \"</div><p></p>\");\n};\n\nfunction fileselection(){\n    parent.frame1.document.open();\n    parent.frame1.document.write('<h1>Custom Watson STT Websocket Sample Application</h1>\\n');\n    parent.frame1.document.write('<form>\\n');\n    parent.frame1.document.write('<input type=\"file\" id=\"file_input\" onchange=\"parent.sendMessage()\">\\n');\n    parent.frame1.document.write('<div><button onclick=\"parent.disconnect()\">Disconnect</button></div>\\n');\n    parent.frame2.document.close();\n};\n\n</script>\n</head>\n<frameset cols=\"300,*\">\n<frame src=\"\" name=\"frame1\">\n<frame src=\"\" name=\"frame2\">\n</frameset>\n</html>\n","x":548,"y":322.99998474121094,"wires":[["b5963e12.ae39e","a2ce13ec.6966e"]]},{"id":"4ef5333c.857c7c","type":"comment","z":"f85b148c.c4a778","name":"Watson Speech to Text websocket API","info":"https://flows.nodered.org/flow/d43d0733b42ee0d42e7bba896d20d09b","x":221,"y":73,"wires":[]},{"id":"faefec67.ee5d7","type":"inject","z":"2cda7691.971baa","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":156,"y":115,"wires":[["fd7cc2a.c900d4"]]},{"id":"fd7cc2a.c900d4","type":"exec","z":"2cda7691.971baa","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"cpu temp","x":326,"y":155,"wires":[["c3abb25a.91eef","2c9d42b.fedb7be"],["d000b224.aa243"],["fb78b5d4.bd8078"]]},{"id":"c3abb25a.91eef","type":"debug","z":"2cda7691.971baa","name":"stdout","active":false,"console":"false","complete":"true","x":499,"y":92,"wires":[]},{"id":"d000b224.aa243","type":"debug","z":"2cda7691.971baa","name":"stderr","active":false,"console":"false","complete":"true","x":501,"y":147,"wires":[]},{"id":"fb78b5d4.bd8078","type":"debug","z":"2cda7691.971baa","name":"return code","active":false,"console":"false","complete":"true","x":513,"y":184,"wires":[]},{"id":"2c9d42b.fedb7be","type":"function","z":"2cda7691.971baa","name":"convert to °C","func":"msg.payload = { CpuTemp : parseInt(msg.payload)/1000 };\n//Following command can be used to get rid of the warning regarding time not set.\n//msg.time = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":122,"wires":[["b9b8f8db.f66f48"]]},{"id":"4ce7c37a.99491c","type":"debug","z":"2cda7691.971baa","name":"pi cpu_temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1012,"y":196,"wires":[]},{"id":"b9b8f8db.f66f48","type":"change","z":"2cda7691.971baa","name":"set msg.nodegroup=13","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":786,"y":197,"wires":[["4ce7c37a.99491c","740d77d0.373078"]]},{"id":"740d77d0.373078","type":"emoncms","z":"2cda7691.971baa","name":"my emoncms.org","emonServer":"c1280055.15daf","nodegroup":"","datatype":"fulljson","x":913,"y":266,"wires":[]},{"id":"f7b8f7d7.287ac8","type":"exec","z":"37312499.e9d2ac","command":"/home/pi/scripts/tts.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":200,"wires":[["fd9a11e.b7ff9f"],["aabfd73b.bd1c18"],["bfa2d07b.027c7","6c685760.bdc688"]]},{"id":"40087040.2f98","type":"inject","z":"37312499.e9d2ac","name":"","topic":"","payload":"dit is een test","payloadType":"str","repeat":"","crontab":"","once":false,"x":158,"y":280,"wires":[["f7b8f7d7.287ac8"]]},{"id":"fd9a11e.b7ff9f","type":"debug","z":"37312499.e9d2ac","name":"standard output","active":true,"console":"false","complete":"payload","x":660,"y":120,"wires":[]},{"id":"aabfd73b.bd1c18","type":"debug","z":"37312499.e9d2ac","name":"standard error","active":true,"console":"false","complete":"payload","x":660,"y":200,"wires":[]},{"id":"bfa2d07b.027c7","type":"debug","z":"37312499.e9d2ac","name":"return code","active":true,"console":"false","complete":"payload","x":650,"y":260,"wires":[]},{"id":"e5b6c582.b31178","type":"Snowboy","z":"2de352c6.5318ae","name":"","detectorFile":"/home/pi/snowboy/rpi/resources/common.res","models":[{"idxOutput":0,"nbOutputs":1,"hotwords":"snowboy","sensitivity":"0.2","file":"/home/pi/snowboy/rpi/resources/snowboy.umdl"}],"multipleOutput":"false","debug":"false","x":280,"y":80,"wires":[["f520819a.ee757"]]},{"id":"f520819a.ee757","type":"debug","z":"2de352c6.5318ae","name":"","active":true,"console":"false","complete":"payload","x":477.5,"y":78,"wires":[]},{"id":"8cd8879d.9dbd48","type":"Mic","z":"2de352c6.5318ae","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":"50","exitOnSilence":"false","debug":"false","active":false,"x":107.5,"y":80,"wires":[["e5b6c582.b31178"]]},{"id":"d088ebab.59dea8","type":"mqtt in","z":"37312499.e9d2ac","name":"","topic":"pi3/tts","qos":"2","broker":"1e7ccd18.7e8833","x":170,"y":200,"wires":[["638eb86e.3d6328","f7b8f7d7.287ac8"]]},{"id":"638eb86e.3d6328","type":"debug","z":"37312499.e9d2ac","name":"","active":true,"console":"false","complete":"payload","x":270,"y":140,"wires":[]},{"id":"575909e4.1bc848","type":"mqtt out","z":"37312499.e9d2ac","name":"","topic":"pi3/tts","qos":"0","retain":"false","broker":"1e7ccd18.7e8833","x":310,"y":60,"wires":[]},{"id":"6cad7e35.c6982","type":"inject","z":"37312499.e9d2ac","name":"","topic":"","payload":"Dag allemaal","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["575909e4.1bc848"]]},{"id":"9061709c.f0ec2","type":"inject","z":"84dcea7d.a77bc8","name":"","topic":"","payload":"Hi, can you hear me ?","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":300,"wires":[["afaa6587.6cf5c8"]]},{"id":"afaa6587.6cf5c8","type":"watson-text-to-speech","z":"84dcea7d.a77bc8","name":"","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","password":"sElPPbBiqkOh","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":360,"y":300,"wires":[["7f601abe.822464"]]},{"id":"7f601abe.822464","type":"speakerpi-output","z":"84dcea7d.a77bc8","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":580,"y":300,"wires":[]},{"id":"18dc51a0.9e5afe","type":"play audio","z":"b11ec8ac.da9968","name":"","voice":"13","x":430,"y":800,"wires":[]},{"id":"8b9d1d16.8552e","type":"inject","z":"b11ec8ac.da9968","name":"","topic":"","payload":"Hallo is er iemand die mij hoort ?","payloadType":"str","repeat":"","crontab":"","once":false,"x":128,"y":801,"wires":[["18dc51a0.9e5afe"]]},{"id":"ef42914a.51636","type":"rpi-gpio out","z":"e3cf3242.7aad","name":"voicehat LED","pin":"22","set":"","level":"0","freq":"","out":"out","x":1189.5,"y":235,"wires":[]},{"id":"d592651b.48b4e8","type":"inject","z":"e3cf3242.7aad","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1011,"y":277,"wires":[["ef42914a.51636"]]},{"id":"40c8bf5.01c974","type":"inject","z":"e3cf3242.7aad","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":1010,"y":322,"wires":[["ef42914a.51636"]]},{"id":"ad686d7f.b4e72","type":"mqtt in","z":"e3cf3242.7aad","name":"","topic":"pi3/aiy/cloudspeech/event_type","qos":"0","broker":"1e7ccd18.7e8833","x":135,"y":100,"wires":[["a202bca9.7afe1","1f674d26.65cb53"]]},{"id":"a202bca9.7afe1","type":"debug","z":"e3cf3242.7aad","name":"cloudspeech event type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":200,"y":55,"wires":[]},{"id":"83ed0d1a.2bff","type":"mqtt in","z":"e3cf3242.7aad","name":"","topic":"pi3/aiy/google_assistant/event_type","qos":"2","broker":"1e7ccd18.7e8833","x":152,"y":246,"wires":[["dca26a03.9eb138","e7be98b3.026aa8"]]},{"id":"dca26a03.9eb138","type":"debug","z":"e3cf3242.7aad","name":"google assistant event type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":334,"y":203,"wires":[]},{"id":"1f674d26.65cb53","type":"switch","z":"e3cf3242.7aad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"say text","vt":"str"},{"t":"eq","v":"say hotword","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":372,"y":100,"wires":[["2473aa3a.df4966","6fc4cef9.405a1"],["6e64f0a7.ca5f8"]]},{"id":"2473aa3a.df4966","type":"change","z":"e3cf3242.7aad","name":"flow.cloudspeech = listening","rules":[{"t":"set","p":"cloudspeech","pt":"flow","to":"listening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":65,"wires":[["8d55dabc.1217d8"]]},{"id":"6e64f0a7.ca5f8","type":"change","z":"e3cf3242.7aad","name":"flow.cloudspeech = hotword","rules":[{"t":"set","p":"cloudspeech","pt":"flow","to":"hotword","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":596,"y":130,"wires":[["8d55dabc.1217d8"]]},{"id":"e7be98b3.026aa8","type":"switch","z":"e3cf3242.7aad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"conv._turn_started","vt":"str"},{"t":"eq","v":"end_of_utterance","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":388,"y":250,"wires":[["6865e0e2.ca0e"],["3c5e2cfe.80e2b4"]]},{"id":"6865e0e2.ca0e","type":"change","z":"e3cf3242.7aad","name":"flow.google_assistant = listening","rules":[{"t":"set","p":"google_assistant","pt":"flow","to":"listening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":221,"wires":[["8d55dabc.1217d8"]]},{"id":"3c5e2cfe.80e2b4","type":"change","z":"e3cf3242.7aad","name":"flow.google_assistant = end_of_listening","rules":[{"t":"set","p":"google_assistant","pt":"flow","to":"end_of_listening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":676,"y":271,"wires":[["8d55dabc.1217d8"]]},{"id":"8d55dabc.1217d8","type":"function","z":"e3cf3242.7aad","name":"setting the light when listening to text","func":"\nif ( (flow.get('cloudspeech')      == \"listening\") ||\n     (flow.get('google_assistant') == \"listening\")) {\n   msg.payload = 1;\n} else { \n   msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":971,"y":127,"wires":[["1a45ea7d.0dffe6","ef42914a.51636"]]},{"id":"1a45ea7d.0dffe6","type":"debug","z":"e3cf3242.7aad","name":"AIY LED status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1096,"y":52,"wires":[]},{"id":"6fc4cef9.405a1","type":"debug","z":"e3cf3242.7aad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":432,"y":28,"wires":[]},{"id":"ae29f58.35bb208","type":"inject","z":"37312499.e9d2ac","name":"interrupt listening for hotword","topic":"","payload":"interrupt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":429,"y":370,"wires":[["aa346711.cb0818"]]},{"id":"aa346711.cb0818","type":"mqtt out","z":"37312499.e9d2ac","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"","broker":"1e7ccd18.7e8833","x":767.5,"y":371,"wires":[]},{"id":"6c685760.bdc688","type":"change","z":"37312499.e9d2ac","name":"msg.payload = interrupt","rules":[{"t":"set","p":"payload","pt":"msg","to":"interrupt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":318,"wires":[["aa346711.cb0818"]]}]